@use '@angular/material' as mat;
.mainFont {
  font-size: 40px;
}

.secondFont {
  font-size: 20px;
}

mat-stepper {
  @include mat.stepper-overrides((
    line-color: #004D40,
    header-icon-background-color: #004D40,
    header-icon-foreground-color: #cfecea,
    header-label-text-color: #004D40,
    header-selected-state-icon-background-color: #004D40,
    container-text-font: Rubik,
    header-label-text-font: Montserrat
  ));
}
