.progressButton{
  background-color: transparent;
  border: 1px solid #004D40;
  border-radius: 5px;
  width: 35px;
  height: 35px;
}

.progressButton:hover, .active{
  background-color: #004D40;
  color: white;
}

