<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12 d-flex justify-content-center align-items-center mb-4">
      <mat-stepper [linear]="true" #stepper>

        <mat-step [completed]="checkList[1]">
          <ng-template matStepLabel>Időpont választás</ng-template>
          <ng-template matStepContent>
            <app-appointment-selector (nextStep)="stepper.next()"/>
          </ng-template>
        </mat-step>

        <mat-step [completed]="checkList[2]">
          <ng-template matStepLabel>Adatok megadása</ng-template>
          <ng-template matStepContent>
            <app-reservation-form (nextStep)="stepper.next()"/>
          </ng-template>
        </mat-step>

        <mat-step [completed]="checkList[3]">
          <ng-template matStepLabel>Szabályzat elfogadása</ng-template>
          <ng-template matStepContent>
            <app-rule-reader [parentComponentInput]="'reservationMaker'" (nextStep)="stepper.next()"/>
          </ng-template>
        </mat-step>

        <mat-step>
          <ng-template matStepLabel>Fizetés & Véglegesítés</ng-template>
          <ng-template matStepContent>
            <app-reservation-finalize />
          </ng-template>
        </mat-step>

        <!-- Iconok: -->
        <ng-template matStepperIcon="done">
            <span class="material-symbols-outlined">check</span>
        </ng-template>
      </mat-stepper>
    </div>
  </div>

</div>
