.progressButton{
  background-color: #F4FBFF;
  border: 1px solid #004D40;
  // border-radius: 50%;
  // padding: 10px;
  // width: 40px;
  // height: 40px;
}

.progressButton:hover, .active{
  background-color: #004D40;
  color: white;
}

