<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12 d-flex justify-content-center align-items-center mb-4">
      <button class="mx-2 progressButton" routerLink="appointmentSelect">Időpont kiválasztása</button>
      <button [disabled]="!checkList[1]" class="mx-2 progressButton" routerLink="reservationForm">Adatok megadása</button>
      <button [disabled]="!checkList[2]" class="mx-2 progressButton" routerLink="rule">Szabályzat elfogadása</button>
      <button [disabled]="!checkList[3]" class="mx-2 progressButton" routerLink="reservationFinalize">Véglegesítés</button>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <router-outlet />
    </div>
  </div>
</div>
