<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12 d-flex justify-content-center align-items-center mb-4">
      <button class="mx-2 progressButton d-flex justify-content-start align-content-center" routerLink="appointmentSelect">
        <mat-icon fontIcon="calendar_month"></mat-icon>
      </button>
      <button class="mx-2 progressButton" routerLink="reservationForm">2</button>
      <button class="mx-2 progressButton" routerLink="rule">3</button>
      <button class="mx-2 progressButton" routerLink="reservationFinalize">4</button>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <router-outlet />
    </div>
  </div>
</div>
