#mainContainer{
  width: 510px;
  height: 680px;
  background-color: #B2DFDB;
  border-radius: 16px;
  color: #004D40;
}

h1{
  font-size: 28px;
}

h3{
  font-size: 16px;
}

mat-form-field{
  width: 100%;
}
