.mainFont {
  font-weight: 800;
}

.secondFont {
  font-weight: 500;
}

#mainContainer {
  width: 510px;
  height: 725px;
  background-color: #B2DFDB;
  border-radius: 16px;
  color: #004D40;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

app-rule-reader {
  position: fixed;
  top: 0px;
  left: 0px;
}

#registerButton {
  background-color: #004D40;
  color: white;
  height: 50px;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

#registerButton:disabled {
  opacity: 0.6;
}
