@use '@angular/material' as mat;

* {
  transition: 0.2s ease-in;
}

.bodyBg {
  background-color: #2C595E !important;
  color: #E9F0ED !important;
}

mat-expansion-panel {
  @include mat.expansion-overrides(( //
      container-text-color: #E9F0ED,
      header-text-color: #E9F0ED,
      container-background-color: #417E85 //
    ));
}

mat-checkbox {
  @include mat.checkbox-overrides(( //
      label-text-weight: 500,
      label-text-color: #18363A,
      selected-checkmark-color: white,
      selected-focus-icon-color: #18363A,
      selected-icon-color: #18363A,
      selected-pressed-icon-color: #18363A,
      selected-hover-icon-color: #18363A //
    ));
}

mat-form-field {
  @include mat.form-field-overrides(( //
      filled-container-color: white, //inputok hattere
      filled-focus-active-indicator-color: #18363A, //also vonal
      filled-active-indicator-color: #18363A,
      filled-focus-label-text-color: #18363A,
      filled-hover-active-indicator-color: #18363A,
      filled-hover-label-text-color: #18363A,
      filled-input-text-color: #18363A,
      filled-input-text-placeholder-color: #18363A,
      filled-label-text-color: #18363A //
    ) !important);
}

mat-select {
  @include mat.select-overrides(( //
      panel-background-color: white,
      placeholder-text-color: #18363A //
    ));
}

.material-symbols-outlined {
  color: #18363A;
}

.filledButton {
  background-color: #18363A !important;
  color: white !important;
}

.iconButton {
  border: 1px solid #18363A;
}

.iconButton:hover {
  background-color: #18363A;

  span {
    color: #B2DFDB !important;
  }
}

.secondBg {
  background-color: #18363A;

  .filledButton {
    background-color: #E9F0ED !important;
    color: #18363A !important;
  }
}

.thirdBg {
  background-color: #417E85;
}

.navbarBg {
  background-color: #18363A;
}

@media screen and (min-width: 992px) {
  #bioContainer {
    border-left: 3px solid #E9F0ED !important;
  }
}

.expansionPanelText {
  color: #18363A !important;
}

#homeReservationButton {
  background-color: #E9F0ED !important;
  color: #18363A !important;
}

.appointmentBg, mat-card {
  background-color: #417E85 !important;
}
