@use '@angular/material' as mat;

// * {
//   transition: 0.2s ease-in;
// }

.bodyBg {
  background-color: #F4FBFF;
  color: #004D40 !important;
}


.filledButton {
  background-color: #004D40 !important;
  color: white !important;
}

.iconButton {
  border: 1px solid #004D40;
}

.iconButton:hover {
  background-color: #004D40;

  span {
    color: #B2DFDB !important;
  }
}

.secondBg {
  background-color: #B2DFDB;
}

.thirdBg {
  background-color: white;
}

.navbarBg {
  background-color: #004D40;
}

@media screen and (min-width: 992px) {
  #bioContainer {
    border-left: 3px solid #004D40 !important;
  }
}

.expansionPanelText {
  color: #004D40 !important;
}

.appointmentBg, mat-card {
  background-color: #26A69A !important;
}

//
