@use '@angular/material' as mat;

.mainFont {
  font-weight: 800;
  font-size: 75px;
}

.secondFont {
  font-weight: 500;
  font-size: 30px;
}

button {
  background-color: #004D40 !important;
  border-radius: 10px;
  height: 70px !important;
  width: 400px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
