@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.container-fluid{
  height: 75px !important;
  background-color: white;
  color: #004D40;
}

.expanded-mode{
  height: 300px !important;
}

#bannerImg{
  width: 275px;
  height: 200px;
  border-radius: 16px;
}

.mainFont{
  font-family: "Oswald", sans-serif !important;
  font-optical-sizing: auto !important;
  font-weight: 500 !important;
  font-style: normal !important;
}

.secondFont{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

mat-icon{
  cursor: pointer;
}

.iconDiv:hover{
  background-color: #004D40;
  color: #B2DFDB;
  border-radius: 10px;
}
