.mainFont{
  font-weight: 500 !important;
}

.secondFont{
  font-weight: 400;
}

.numberFont{
  font-weight: 600;
  font-size: 25px;
}

.cardDiv {
  font-size: 28px;
  border-radius: 16px;
  background-color: #B2DFDB;
  height: 125px;
  width: 575px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  cursor: pointer;
}

.reservationCard {
  height: 475px !important;
}

p {
  margin: 0px;
}

.cardDiv:hover {
  transform: scale(1.05, 1.05);
}

.reservationCard:hover {
  transform: none;
}

app-pop-up {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 2;
}

#reservationButton {
  background-color: #004D40;
  height: 54px;
  border-radius: 15px;
  width: 210px;
}

#historyButton {
  background-color: #F4FBFF;
  height: 40px;
  width: 40px;
  border: 1px solid #004D40;
  border-radius: 8px;
}

#historyButton:hover {
  background-color: #004D40;

  span {
    color: #B2DFDB;
  }
}

.disableDiv{
  pointer-events: none;
  opacity: 0.6;
}
