.demo-inline-calendar-card {
  width: 300px;
}

.cardDiv {
  border-radius: 16px;
  background-color: #B2DFDB;
  height: 125px;
  width: 575px;
  color: #004D40;
}

.reservationCard {
  height: 475px !important;
}

p {
  margin: 0px;
}


.cardDiv:hover {
  transform: scale(1.05, 1.05);
}

.reservationCard:hover {
  transform: none;
}

app-pop-up {
  position: absolute;
  top: 0px;
}
