<div class="container-fluid">
  <div class="row mt-4">
    <div class="col-lg-4">
      <mat-card class="demo-inline-calendar-card">
        <mat-calendar></mat-calendar>
      </mat-card>
    </div>
    <div class="col-lg-4 d-flex justify-content-center align-items-center">
      <div class="cardDiv reservationCard">

      </div>
    </div>
    <div class="col-lg-4 d-flex justify-content-center align-items-center">
      <div class="cardDiv reservationCard container-fluid">

        <div class="row">
          <div class="col-lg-12">
            <h1 class="text-center">Mai nap foglalásai</h1>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12">

          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="row my-4">
    <div class="col-lg-4 d-flex justify-content-center align-items-center">
      <div class="cardDiv d-flex justify-content-center align-items-center" (click)="selectObjectList('Kategóriák listája', 'Kategória hozzáadása', 'deviceCategory')">
        <p class="text-center">Eszközök kezelése</p>
      </div>
    </div>

    <div class="col-lg-4 d-flex justify-content-center align-items-center">
      <div class="cardDiv d-flex justify-content-center align-items-center" (click)="selectObjectList('Hírek kezelése', 'Hír hozzáadása', 'news')">
        <p class="text-center">Hírek kezelése</p>
      </div>
    </div>

    <div class="col-lg-4 d-flex justify-content-center align-items-center">
      <div class="cardDiv d-flex justify-content-center align-items-center" (click)="selectObjectList('', '', 'reservationType')">
        <p class="text-center">Próba lehetőségek kezelése</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4 d-flex justify-content-center align-items-center">
      <div class="cardDiv d-flex justify-content-center align-items-center" (click)="selectObjectList('Szabályzat szerkesztése', 'Mentés', 'rule')">
        <p class="text-center">Szabályzat szerkesztése</p>
      </div>
    </div>

    <div class="col-lg-4 d-flex justify-content-center align-items-center">
      <div class="cardDiv d-flex justify-content-center align-items-center" (click)="selectObjectList('', '', 'gallery')">
        <p class="text-center">Galléria szerkesztése</p>
      </div>
    </div>

    <div class="col-lg-4 d-flex justify-content-center align-items-center">
      <div class="cardDiv d-flex justify-content-center align-items-center" (click)="selectObjectList('', '', 'other')">
        <p class="text-center">Akció beállítása</p>
      </div>
    </div>
  </div>
</div>

@if(isShowPupUp()){
  <app-pop-up (closePopUp)="closePopUp()" [title]="popUpTitle()" [buttonText]="popUpButtonText()">
    @if(popUpTitle() == "Szabályzat szerkesztése"){
      <app-rule-editor />
    } @else if (popUpTitle().includes("Foglalás")){
      <app-reservation-detail [reservation]="selectedReservation()!" />
    } @else if(popUpTitle() != "Szabályzat szerkesztése"){
      @for (cardItem of cardList; track $index) {
      <app-list-card [cardItem]="cardItem" (changeList)="closePopUp()"></app-list-card>
      }
    }
  </app-pop-up>
}
