@use '@angular/material' as mat;
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
  color: #004D40;
}

.mainFont,
.cardDiv {
  font-family: "Oswald", sans-serif !important;
  font-optical-sizing: auto !important;
  font-style: normal !important;
}

.secondFont {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.numberFont {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 25px;
}

.cardDiv {
  border-radius: 16px;
  background-color: #B2DFDB;
  height: 125px;
  width: 575px;
  color: #004D40;
  font-size: 28px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  cursor: pointer;
  font-weight: 600 !important;
}

.reservationCard {
  height: 475px !important;
}

p {
  margin: 0px;
}

.cardDiv:hover {
  transform: scale(1.05, 1.05);
}

.reservationCard:hover {
  transform: none;
}

app-pop-up {
  position: fixed;
  top: 0px;
  left: 0px;
}

#reservationButton {
  background-color: #004D40;
  height: 54px;
  border-radius: 15px;
  width: 210px;
}
