@use '@angular/material' as mat;

.mainFont {
  font-weight: 500 !important;
}

.secondFont {
  font-weight: 400;
}

.numberFont {
  font-weight: 600;
  font-size: 25px;
}

.cardDiv {
  font-size: 28px;
  border-radius: 16px;
  height: 125px;
  cursor: pointer;
}

.controlPanel {
  border-radius: 16px;
  height: 475px !important;
}

::ng-deep .mat-calendar-body-cell{
  height: 50px;
}

.cardDiv:hover {
  transform: scale(1.05, 1.05);
}

app-pop-up, app-history-popup, app-details-editor {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 2;
}

.adminButton {
  background-color: #F4FBFF;
  height: 40px;
  width: 40px;
  border: 1px solid #004D40;
  border-radius: 8px;
}

.adminButton:hover {
  background-color: #004D40;

  span {
    color: #B2DFDB;
  }
}

.disableDiv {
  pointer-events: none;
  opacity: 0.6;
}

mat-calendar {
  @include mat.datepicker-overrides((calendar-body-label-text-color: white,
      calendar-container-text-color: #004D40,
      calendar-date-text-color: #004D40,
      calendar-header-text-color: #004D40,
      calendar-header-divider-color: #004D40,
      toggle-icon-color: #004D40,
      toggle-active-state-icon-color: #004D40,
      range-input-separator-color: #004D40,
      calendar-period-button-text-color: #004D40,
      calendar-period-button-icon-color: #004D40,
      calendar-navigation-button-icon-color: #004D40,
      calendar-date-focus-state-background-color: #004D40,
      calendar-date-hover-state-background-color: #004D40,
      calendar-date-selected-state-background-color: #004D40,
      calendar-date-today-selected-state-outline-color: #004D40,
      calendar-container-touch-elevation-shadow: #004D40,
      calendar-date-today-outline-color: #004D40,
      calendar-text-font: "Rubik",
      calendar-date-disabled-state-text-color: #004D40,
      calendar-body-label-text-weight: 600,
      calendar-header-text-weight: 600,
      calendar-period-button-text-weight: 600,
      calendar-text-size: 18px));
}
