.mainFont {
  font-weight: 800;
  font-size: 40px;
}

.secondFont {
  font-weight: 500;
}

#mainContainer {
  width: 640px;
  height: 850px;
  background-color: #B2DFDB;
  border-radius: 16px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

#ruleContainer {
  background-color: white;
  padding: 30px;
  max-height: 650px;
  overflow-y: auto;
  border-radius: 16px !important;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

::-webkit-scrollbar {
  width: 5px !important;
}

::-webkit-scrollbar-track {
  border-radius: 10px !important;
}

::-webkit-scrollbar-thumb {
  background: #004D40 !important;
  border-radius: 10px !important;
}

.registerView{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
}
