<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <!--
        Formázási lehetőségek:
                - félkövér
                - dölt
                - aláhúzott
                - ezeknek a kombinációi
                - h1-h6-ig való címsorok
                - számozott és nem számozott lista felsorolás
                - a betu színe
      -->
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      {{rule()?.getText}}
    </div>
  </div>
</div>
