<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12" id="buttonRow">
      <button class="mx-2" (click)="addStyleToSelectedText('bold', ruleContainer)">
        <span class="material-symbols-outlined">format_bold</span>
      </button>
      <button class="mx-2">
        <span class="material-symbols-outlined">format_italic</span>
      </button>
      <button class="mx-2">
        <span class="material-symbols-outlined">format_underlined</span>
      </button>

      <mat-form-field>
        <mat-label>A</mat-label>
        <mat-select [(value)]="selectedHeadlineType">
          <mat-option>A</mat-option>
        </mat-select>
      </mat-form-field>

      <button class="mx-2">
        <span class="material-symbols-outlined">format_list_bulleted</span>
      </button>
      <button class="mx-2">
        <span class="material-symbols-outlined">format_list_numbered_rtl</span>
      </button>
      <input type="color" matInput />
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div
        style="height: 600px; width: 100%; background-color: white"
        type="text"
        placeholder="Ird ide a szabályzatot"
        contenteditable
        [innerHTML]="rule()?.getText"
        #ruleContainer

      ></div>
    </div>
  </div>
</div>
