@use '@angular/material' as mat;

button{
  background-color: #004D40 !important;
  border-radius: 15px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

    @include mat.badge-overrides((
    background-color: white,
    text-color: #004D40
  ));

  .material-symbols-outlined{
    color: white;
    font-size: 24px;
  }
}

.adminPageView{
  p {
    font-size: 20px;
  }

  button {
    width: 2005px !important;
  }
}

button:disabled{
  opacity: 0.6;
}


