@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  color: #004D40;
}

.mainFont{
  font-family: "Oswald", sans-serif !important;
  font-optical-sizing: auto !important;
  font-weight: 800 !important;
  font-style: normal !important;
}

.secondFont{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

button{
  background-color: #004D40 !important;
  border-radius: 15px;

  .material-symbols-outlined{
    color: white;
    font-size: 24px;
  }
}

.adminPageView{
  p {
    font-size: 20px;
  }

  button {
    width: 2005px !important;
  }
}
