<div class="container-fluid" [class.profilePageView]="parentComponent() == 'profilePage'" [class.adminPageView]="parentComponent() == 'adminPage'">
  <div class="row">
    <div class="col-lg-8">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12">
            <h5 class="m-0">#{{reservationDetails().getId}}</h5>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12">
            <p class="m-0"><span class="fw-bold">Dátum:</span></p>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12">
            <p class="m-0"><span class="fw-bold">Státusz:</span> {{reservationDetails().getStatus.getName}}</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-4 d-flex justify-content-end align-items-end">
      <button matBadge="o" id="detailsButton" class="mx-2" matButton="filled" (click)="showReservationDetails()">Részletek</button>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <hr>
    </div>
  </div>
</div>
