@use '@angular/material' as mat;

.mainFont {
  font-weight: 800;
}

.secondFont {
  font-weight: 500;
}

.filledButton {
  @include mat.badge-overrides((background-color: white,
      text-color: #004D40));
}

.adminPageView {
  p {
    font-size: 20px;
  }

  button {
    width: 200px !important;
  }
}

.popUpView {}
