<div class="container-fluid" [class.profilePageView]="parentComponent() == 'profilePage'" [class.adminPageView]="parentComponent() == 'adminPage'" [class.popUpView]="parentComponent() == 'reservationPopUp'">
  <div class="row">
    <div class="col-lg-8">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12">
            <h5 class="m-0 mainFont">#{{reservationDetails().getId}}</h5>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12">
            <p class="m-0"><span class="fw-bold mainFont">Dátum:</span></p>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12">
            <p class="m-0">
              <span class="fw-bold mainFont">Státusz:</span>
              <span class="secondFont">{{reservationDetails().getStatus.getName}}</span>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-4 d-flex justify-content-end align-items-end">
      <button matBadge="o" id="detailsButton" class="mx-2 filledButton secondFont" matButton="filled" (click)="showReservationDetails()">Részletek</button>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <hr>
    </div>
  </div>
</div>
