<div class="container-fluid mb-5">
  <div class="row">
    <div class="col-lg-2 d-flex justify-content-center align-items-center">
      <a routerLink="homePage">
        <img src="assets/placeholder.png" alt="logo_img" class="img-fluid" id="logoImg">
      </a>
    </div>

    <div class="col-lg-8 d-flex justify-content-center align-items-center">
      <a class="mx-3" routerLink="homePage">Főoldal</a>
      @if(userService.user()?.role == "user" || userService.user() == null){
        <a class="mx-3" routerLink="makeReservation">Időpont foglalás</a>
      } @else if (userService.user()?.role == "admin" || userService.user()?.role == "superAdmin") {
        <a class="mx-3" routerLink="adminPage">Admin Page</a>
      }
      <a class="mx-3" routerLink="priceList">Árlista</a>
      <a class="mx-3" routerLink="equipments">Felszerelés</a>
      <a class="mx-3" routerLink="reviews">Vélemények</a>
      <a class="mx-3" routerLink="gallery">Galléria</a>
    </div>

    <div class="col-lg-2 d-flex justify-content-center align-items-center">
      <button (click)="userNavigation()">
        @if (userService.user() == null) {
          Be!
        } @else {
          Fiok!
        }
      </button>
    </div>
  </div>
</div>
