@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

a {
  cursor: pointer;
  text-decoration: none;
  color: #E0F2F1;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

#logoImg {
  width: 125px;
  height: 45px;
}

.container-fluid {
  background-color: #004D40;
  padding: 10px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.nav-item {
  padding: 10px 20px;
}

.active {
  background-color: #E0F2F1;
  color: #004D40;
  border-radius: 25px;
  height: 40px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.active a {
  color: #004D40;
}

.nav-item:hover {
  width: 200px;
  text-align: center;
}

.active:hover {
  width: auto !important;
}

#userIcon {
  transform: scale(1.5);
  color: #E0F2F1;
  cursor: pointer;
}
