<div class="container-fluid mb-5">
  <div class="row w-100">
    <div class="col-lg-2 d-flex justify-content-center align-items-center">
      <a routerLink="homePage">
        <img src="assets/images/logo.png" alt="logo_img" class="img-fluid" id="logoImg">
      </a>
    </div>

    <div class="col-lg-8 d-flex justify-content-center align-items-center">
      <div class="nav-item mx-2 d-flex justify-content-center align-items-center" [class.active]="router.url == '/homePage'">
        <a routerLink="homePage">Főoldal</a>
      </div>
      <div class="nav-item mx-2" [class.active]="router.url.includes('/makeReservation') || router.url == '/adminPage'">
        @if(userService.user()?.role?.name  == "user" || userService.user() == null){
          <a routerLink="makeReservation">Időpont foglalás</a>
        } @else if (userService.user()?.role?.name == "admin" || userService.user()?.role?.name == "superAdmin") {
          <a routerLink="adminPage">Admin Page</a>
        }
      </div>
      <div class="nav-item mx-2" [class.active]="router.url == '/priceList'">
        <a routerLink="priceList">Árlista</a>
      </div>
      <div class="nav-item mx-2" [class.active]="router.url == '/equipments'">
        <a routerLink="equipments">Felszerelés</a>
      </div>
      <div class="nav-item mx-2" [class.active]="router.url == '/reviews'">
        <a routerLink="reviews">Vélemények</a>
      </div>
      <div class="nav-item mx-2" [class.active]="router.url == '/gallery'">
        <a routerLink="gallery">Galléria</a>
      </div>
    </div>

    <div class="col-lg-2 d-flex justify-content-center align-items-center flex-column">
      <span (click)="userNavigation()" id="userIcon" class="material-symbols-outlined">account_circle</span>
    </div>
  </div>
</div>
