a{
  cursor: pointer;
  text-decoration: none;
  color: #E0F2F1;
  font-size: 18px;
}

#logoImg{
  width: 125px;
  height: 45px;
}

.container-fluid{
  background-color: #004D40;
  padding: 10px;
}

.active{
  background-color: #E0F2F1;
  color: #004D40;
  padding: 10px;
  border-radius: 25px;
}

.active a{
  color: #004D40;
  font-weight: bold;
}
