a{
  cursor: pointer;
  text-decoration: none;
  color: #E0F2F1;
  font-size: 18px;
}

#logoImg{
  width: 125px;
  height: 45px;
}

.container-fluid{
  background-color: #004D40;
  padding: 10px;
}


a:hover{
  width: 200px;
  text-align: center;
  // font-weight: bold;
}
