<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div id="mainContainer" class="container-fluid d-flex flex-column justify-content-between align-content-center">
        <div>
          <div class="row mb-2">
            <div class="col-lg-12">
              <h1 class="mainFont text-center my-4">Adatok</h1>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-12 px-4">
              <form action="#" [formGroup]="form" class="container-fluid">
                <div class="row my-2">
                  <div
                    class="col-lg-12 p-0 d-flex flex-row justify-content-between"
                  >
                    <mat-form-field style="width: 335px">
                      <mat-label>Vezetéknév</mat-label>
                      <input
                        formControlName="firstName"
                        type="text"
                        matInput
                        placeholder="Irja be a vezetéknevét. Pl. Varga"
                      />
                    </mat-form-field>

                    <mat-form-field style="width: 335px">
                      <mat-label>Családnév</mat-label>
                      <input
                        formControlName="lastName"
                        type="text"
                        matInput
                        placeholder="Irja be a keresztnevét. Pl. Tamás"
                      />
                    </mat-form-field>
                  </div>
                </div>

                <div class="row my-2">
                  <div class="col-lg-12 p-0">
                    <mat-form-field style="width: 100%">
                      <mat-label>Email</mat-label>
                      <input
                        formControlName="email"
                        type="text"
                        matInput
                        placeholder="Irja be az email címét. Pl. valami@gmail.com"
                      />
                    </mat-form-field>
                  </div>
                </div>

                <div class="row my-2">
                  <div class="col-lg-12 p-0">
                    <mat-form-field style="width: 100%">
                      <mat-label>Telefonszám</mat-label>
                      <input
                        formControlName="phone"
                        type="text"
                        matInput
                        placeholder="Irja be a telefonszámát. Pl. +36 70 123 4567"
                      />
                    </mat-form-field>
                  </div>
                </div>

                <div class="row my-2">
                  <div class="col-lg-12 p-0">
                    <mat-form-field style="width: 100%">
                      <mat-label>Megjegyzés</mat-label>
                      <textarea
                        formControlName="comment"
                        type="text"
                        matInput
                        style="height: 175px"
                        placeholder="Van valami megjegyzése? Irja ide!"
                      ></textarea>
                    </mat-form-field>
                  </div>
                </div>
              </form>
            </div>
          </div>

          <div class="row my-4">
            <div class="col-lg-12">
              <h1 class="mainFont text-center">Foglalás tipusa</h1>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-12 px-4">
              @for (reservationType of reservationTypes(); track $index) {
              <div
                class="cardDiv my-4 d-flex justify-content-between align-items-center px-4"
                (click)="selectReservationType(reservationType)"
              >
                <span class="secondFont">{{ reservationType.name }}</span>
                <span class="secondFont"
                  >{{ reservationType.price }} Ft/{{
                    reservationType.amount
                  }}</span
                >
              </div>
              }
            </div>
          </div>

          @if (user == null) {
          <div class="row">
            <div class="col-lg-12 px-4">
              <mat-checkbox>A foglalással regisztrálok az oldalra</mat-checkbox>
            </div>
          </div>
          }
        </div>

        <div class="row my-5">
          <div
            class="col-lg-12 d-flex justify-content-center align-items-center"
          >
            <button matButton="filled" [disabled]="form.invalid">
              Folytatás
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
