<div class="container-fluid my-4">
  <div class="row h-100" [class.deviceCard]="cardItem().objectType == 'deviceCategory'">
    <div class="col-9 d-flex justify-content-start align-items-center" (click)="showDevices()">
      <p class="m-0 secondFont">{{ cardItem().name | titlecase}}</p>
    </div>

    <div class="col-3 d-flex justify-content-end align-items-center">
      <button class="d-flex justify-content-center align-items-center mx-1" (click)="this.delete.emit(this.cardItem())">
        <span class="material-symbols-outlined"> delete </span>
      </button>

      <button class="d-flex justify-content-center align-items-center mx-1" (click)="this.edit.emit(this.cardItem())">
        <span class="material-symbols-outlined"> edit </span>
      </button>

      @if (cardItem().objectType == "gallery") {
        <button class="d-flex justify-content-center align-items-center mx-1" (click)="viewImg()">
          <span class="material-symbols-outlined"> visibility </span>
        </button>
      }
    </div>

  </div>
</div>
