.secondFont{
  font-weight: 600 !important;
}

.container-fluid {
  height: 75px !important;
  background-color: white;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

button {
  background-color: white;
  border: none;
  height: 40px;
  width: 40px;
}

button:hover {
  background-color: #004D40;
  color: #B2DFDB;
  border-radius: 10px;

  span {
    color: #B2DFDB;
  }
}

.deviceCard {
  cursor: pointer;
}

.deviceCard:hover {
  background-color: #004D40;
  color: #B2DFDB !important;

  p {
    color: #B2DFDB;
  }

  button {
    background-color: #B2DFDB;
  }

  button:hover{
    color: #004D40 !important;
  }
}
