<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="text-center mainFont mb-5">Foglalás nyomon követése</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="container-fluid" id="mainContainer">
        <div class="row h-100">
          <div class="col-lg-12 d-flex flex-column justify-content-between align-items-center">
            @if(wantedReservation == undefined){
              <h3 class="text-center">Foglalás keresése</h3>

              <form [formGroup]="form">
                <mat-form-field class="w-100">
                  <mat-label>Foglalásához tartozó email címet</mat-label>
                  <input matInput type="text" formControlName="email">
                </mat-form-field>

                <mat-form-field class="w-100">
                  <mat-label>Foglalásához tartozó igazoló kódot</mat-label>
                  <input matInput type="text" formControlName="vCode">
                </mat-form-field>
              </form>

              <div>
                <button matButton="filled" [disabled]="form.invalid" (click)="getReservation()">Keresés</button>
                <p>
                  Van már fiókja?
                  <a routerLink="/login" class="fw-bold text-decoration-none secondFont">Jelentkezzen be!</a>
                </p>
              </div>
            }@else {
              <h3 class="text-center secondFont">Az ön foglalásának az adatai:</h3>
              <div>
                <app-reservation-detail [reservation]="wantedReservation!" />
              </div>
              <button matButton="filled" (click)="cancelReservation()">Foglalás lemondása</button>
            }
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
