<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="text-center mainFont mb-5">Foglalás nyomon követése</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="container-fluid" [class.mainContainer]="wantedReservation == null" [class.detailsContainer]="wantedReservation != null">
        <div class="row h-100">
          <!-- [class.flexContainer]="wantedReservation == null" -->
          <div class="col-lg-12 flexContainer" >
            @if(wantedReservation == null){
              <h3 class="text-center">Foglalás keresése</h3>

              <form [formGroup]="form">
                <mat-form-field class="w-100">
                  <mat-label>Foglalásához tartozó email címet</mat-label>
                  <input matInput type="text" formControlName="email">
                </mat-form-field>

                <mat-form-field class="w-100">
                  <mat-label>Foglalásához tartozó igazoló kódot</mat-label>
                  <input matInput type="text" formControlName="vCode">
                </mat-form-field>
              </form>

              <div class="w-100">
                <button class="matButton w-100 mb-2" matButton="filled" [disabled]="form.invalid" (click)="getReservation()">Keresés</button>
                <p class="text-center secondFont">
                  Van már fiókja?
                  <a routerLink="/login" class="fw-bold text-decoration-none secondFont">Jelentkezzen be!</a>
                </p>
              </div>
            }@else {
              <div class="d-flex justify-content-between mb-5 w-100 mt-4">
                <div></div>
                <h3 class="text-center secondFont fw-bold">Az ön foglalásának az adatai:</h3>
                <button (click)="backToForm()" id="backButton" class="d-flex justify-content-center align-items-center"><span class="material-symbols-outlined">arrow_left_alt</span></button>
              </div>

              <app-reservation-detail [reservation]="wantedReservation!" class="w-100"/>
              <button class="mt-5 mb-4 matButton" matButton="filled" (click)="cancelReservation()" [disabled]="wantedReservation.getIsCanceled">Foglalás lemondása</button>
            }
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
