.mainFont {
  font-weight: 800;
}

.mainContainer {
  width: 510px;
  height: 590px;
  border-radius: 16px;
  padding: 20px;
}

.detailsContainer {
  width: 700px;
  height: 700px;
  border-radius: 16px;
}

@media screen and (max-width: 550px) {
  .mainContainer {
    width: 100%;
  }
}

@media screen and (max-width: 740px) {
  .detailsContainer {
    width: 100%;
  }
}
