.mainFont {
  font-weight: 800;
}

.secondFont {
  font-weight: 400;
}

.flexContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.mainContainer {
  width: 510px;
  height: 590px;
  background-color: #B2DFDB;
  color: #004D40;
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.detailsContainer{
  width: 700px;
  height: 700px;
  background-color: #B2DFDB;
  color: #004D40;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px r gba(0, 0, 0, 0.23);
  border-radius: 16px;
}
