@use '@angular/material' as mat;

.mainFont {
  font-weight: 800;
  font-size: 45px;
}

.secondFont {
  font-weight: 500;
}

img {
  width: 840px;
  height: 560px;
}

.infoContainer {
  width: 845px;
  height: 750px;
  background-color: #B2DFDB;
}

.material-box {
  border-radius: 16px !important;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

#newsContainer {
  padding: 0px 40px;
  max-height: 540px !important;
  overflow-y: auto;
}

#promoBox {
  padding: 30px;
}

#paragraphBox {
  padding: 0px 50px;
}

p {
  font-size: 25px;
  line-height: 30px;
}

.filledButton {
  width: 250px !important;
  height: 75px !important;
  font-size: 25px !important;
  font-weight: 400 !important;
}

mat-expansion-panel {
  @include mat.expansion-overrides((container-text-color: #004D40,
      // Container
      container-text-font: Montserrat,

      // Header
      header-text-font: Oswald,
      header-text-size: 25px,
      header-text-line-height: 35px,
      header-text-color: #004D40));
}

.mat-expansion-panel-body {
  padding: 0px !important;
  height: 400px;
}

mat-expansion-panel-header {
  height: 85px;
}
