<div class="container-fluid" id="mainContainer">
  <div class="row my-3">
    <div class="col-lg-6 d-flex justify-content-center align-items-center my-md-5 my-sm-5 my-5">
      <img src="assets/images/homePage/image1.jpg" alt="image1_alt_text" class="img-fluid material-box">
    </div>

    <div class="col-lg-6 d-flex justify-content-center align-items-center mb-md-5 mb-sm-5 mb-5">
      <div class="infoContainer material-box d-flex flex-column justify-content-between align-items-center" id="promoBox">
        <div>
          <h1 class="text-center mainFont my-4">Pécs Music Society</h1>
          <div id="paragraphBox">
            <p class="text-center my-5 secondFont">Próbatermünk zenészeknek készült, akik szeretnének egy inspiráló és jól felszerelt helyen gyakorolni.</p>
            <p class="text-center my-5 secondFont">Nálunk minden adott a minőségi zenéléshez: profi hangszerek, erősítők és kényelmes környezet.</p>
            <p class="text-center my-5 secondFont">Legyen szó kezdő zenekarról vagy tapasztalt zenészekről, mindenkit szeretettel várunk.</p>
          </div>
        </div>

        <div class="d-flex justify-content-center align-content-center mb-5">
          <button class="mainFont filledButton" matButton="filled" routerLink="/makeReservation">Foglalás</button>
        </div>
      </div>
    </div>
  </div>

  <div class="row my-3">
    <div class="col-lg-6 d-flex justify-content-center align-items-center order-lg-0 order-md-1 order-sm-1 order-1">
      <div class="infoContainer material-box">
        <h1 class="text-center my-5 mainFont">Aktuális híreink</h1>
        <div id="newsContainer">

          @for (newsDetails of news(); track $index) {
            <mat-accordion>
              <mat-expansion-panel [expanded]="$index == 0" class="my-4">
                <mat-expansion-panel-header>
                  <mat-panel-title>{{newsDetails.getName}}</mat-panel-title>
                </mat-expansion-panel-header>
                <ng-template matExpansionPanelContent class="p-0">
                  <div class="container-fluid" style="height: 175px;">
                    <div class="row p-0">
                      <div class="p-0" style="overflow-y: auto;" [class.col-lg-12]="newsDetails.getBannerImgPath == null" [class.col-lg-8]="newsDetails.getBannerImgPath != null">
                        <p class="secondFont" style="font-size: 16px; line-height: 20px;">{{newsDetails.getText}}</p>
                      </div>
                      @if (newsDetails.getBannerImgPath != null) {
                        <div class="col-lg-4 p-0">
                          <img style="height: auto !important;" src="assets/placeholder.png" alt="" class="img-fluid" id="bannerImg">
                        </div>
                      }
                    </div>
                  </div>
                </ng-template>
              </mat-expansion-panel>
            </mat-accordion>
          }

        </div>
      </div>
    </div>

    <div class="col-lg-6 d-flex justify-content-center align-items-center order-lg-1 order-md-0 order-sm-0 order-0 mb-md-5 mb-sm-5 mb-5">
      <img src="assets/images/homePage/image2.jpg" alt="image2_alt_text" class="img-fluid material-box">
    </div>
  </div>
</div>
