@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  color: #004D40;
}

.mainFont{
  font-family: "Oswald", sans-serif !important;
  font-optical-sizing: auto !important;
  font-weight: 800 !important;
  font-style: normal !important;
}

.secondFont{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

img {
  width: 840px;
  height: 560px;
}

.infoContainer {
  width: 845px;
  height: 750px;
  background-color: #B2DFDB;
}

.material-box {
  border-radius: 16px !important;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

#newsContainer {
  padding: 0px 40px;
  max-height: 540px !important;
  overflow-y: auto;
}

#promoBox{
  padding: 30px;
}

#paragraphBox{
  padding: 0px 50px;
}

h1 {
  font-size: 45px;
}

p {
  font-size: 25px;
  line-height: 30px;
}

#reservationButton{
  width: 250px;
  height: 75px;
  font-size: 25px;
  background-color: #004D40;
  border-radius: 15px;

}

::-webkit-scrollbar {
  width: 5px !important;
}

::-webkit-scrollbar-track {
  border-radius: 10px !important;
  background-color: #004d404d;
}

::-webkit-scrollbar-thumb {
  background: #004D40 !important;
  border-radius: 10px !important;
}
