@use '@angular/material' as mat;

.mainFont {
  font-weight: 800;
  font-size: 40px;
}

.secondFont {
  font-weight: 500;
  font-size: 20px;
}

.numberFont {
  font-weight: 600;
  font-size: 25px;
}

#mainContainer {
  width: 640px;
  height: 850px;
  border-radius: 16px;
}

.boldedSpans {
  font-size: 18px !important;
}

.detailsValue {
  font-size: 15px;
}

.filledButton {
  height: 56px;
  width: 350px;
}

.underlinedParagraph {
  border-bottom: 2px solid #004d40
}

@media screen and (max-width: 680px) {
  #mainContainer {
    width: auto;
    height: 80vh;
    overflow-y: auto;
  }
}
