@use '@angular/material' as mat;

#mainContainer{
  width: 640px;
  height: 850px;
  border-radius: 16px;
  background-color: #B2DFDB;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.boldedSpans{
  font-size: 18px !important;
}

.detailsValue{
    font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 15px;
}

button {
  height: 56px;
  width: 350px;
  border-radius: 16px;
  background-color: #004D40 !important;
  color: white;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

button:disabled {
  opacity: 60%;
  height: 56px;
  width: 350px;
  border-radius: 16px;
  background-color: #004D40;
  color: white;
}
