@use '@angular/material' as mat;

.mainFont {
  font-weight: 800;
  font-size: 40px;
}

.secondFont {
  font-weight: 500;
  font-size: 20px;
}

.numberFont {
  font-weight: 600;
  font-size: 25px;
}

#mainContainer {
  width: 640px;
  height: 850px;
  border-radius: 16px;
  background-color: #B2DFDB;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.boldedSpans {
  font-size: 18px !important;
}

.detailsValue {
  font-size: 15px;
}

.filledButton {
  height: 56px;
  width: 350px;
}
