@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  color: #004D40;
}

.mainFont{
  font-family: "Oswald", sans-serif !important;
  font-optical-sizing: auto !important;
  font-weight: 800 !important;
  font-style: normal !important;
  font-size: 18px;
  color: #004D40;
}

.secondFont{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
}


@media screen and (min-width: 992px) {
  #bioContainer{
    border-left: 3px solid #004D40 !important;
  }
}
