<div class="container-fluid">
  <div class="row px-3 mb-4">
    <div class="col-lg-8 px-4" id="bioContainer">
      <p class="text-lg-start text-md-center text-sm-center text-center">
        <span class="fw-bold mainFont">Helyszín</span><br>
        <span class="secondFont">7621 Pécs Lyceum utca 4</span>
      </p>

      <p class="text-lg-start text-md-center text-sm-center text-center">
        <span class="fw-bold mainFont">Elérhetőség</span><br>
        <span class="secondFont">+70 628 5232</span>
      </p>

      <p class="text-lg-start text-md-center text-sm-center text-center">
        <span class="fw-bold mainFont">Email</span><br>
        <span class="secondFont">szignalpecs@gmail.com</span>
      </p>

      <p class="text-lg-start text-md-center text-sm-center text-center">
        <span class="fw-bold mainFont">Tűz esetén értesitendő</span><br>
        <span class="secondFont">+70 628 5232</span>
      </p>

      <p class="text-lg-start text-md-center text-sm-center text-center">
        <span class="fw-bold mainFont">Nyitvatartás</span><br>
        <span class="secondFont">10:00 - 22:00</span>
      </p>
    </div>
    <div class="col-lg-4">
      <!-- Google Maps -->
    </div>
  </div>

  <div class="row px-3 mt-1 mb-2">
    <div class="col-lg-12 px-4 d-lg-flex justify-content-lg-between align-items-lg-center">
      <p class="secondFont text-lg-start text-md-center text-sm-center text-center">© 2025 — Copyright</p>
      <p class="secondFont text-lg-start text-md-center text-sm-center text-center">Privacy</p>
    </div>
  </div>
</div>
