<div class="container-fluid">
  <div class="row px-3 mb-4">
    <div class="col-lg-8 px-4" id="bioContainer">
      <p>
        <span class="fw-bold mainFont">Helyszín</span><br>
        <span class="secondFont">7621 Pécs Lyceum utca 4</span>
      </p>

      <p>
        <span class="fw-bold mainFont">Elérhetőség</span><br>
        <span class="secondFont">+70 628 5232</span>
      </p>

      <p>
        <span class="fw-bold mainFont">Email</span><br>
        <span class="secondFont">szignalpecs@gmail.com</span>
      </p>

      <p>
        <span class="fw-bold mainFont">Tűz esetén értesitendő</span><br>
        <span class="secondFont">+70 628 5232</span>
      </p>

      <p>
        <span class="fw-bold mainFont">Nyitvatartás</span><br>
        <span class="secondFont">10:00 - 22:00</span>
      </p>
    </div>
    <div class="col-lg-4">
      <!-- Google Maps -->
    </div>
  </div>

  <div class="row px-3 mt-1 mb-2">
    <div class="col-lg-12 px-4 d-flex justify-content-between align-items-center">
      <p class="secondFont">© 2025 — Copyright</p>
      <p class="secondFont">Privacy</p>
    </div>
  </div>
</div>
