<div class="container-fluid">
  <div class="row px-3 mb-4">

    <!-- Információs részleg: -->
    <div class="col-lg-6 px-4" id="bioContainer">
      <p class="text-lg-start text-md-center text-sm-center text-center">
        <span class="fw-bold mainFont">Cím:</span><br>
        <span class="secondFont">{{this.otherService.detailsForFooter?.getAddress}}</span>
      </p>

      <p class="text-lg-start text-md-center text-sm-center text-center">
        <span class="fw-bold mainFont">Elérhetőség:</span><br>
        <span class="secondFont">{{this.otherService.detailsForFooter?.getPhone}}</span>
      </p>

      <p class="text-lg-start text-md-center text-sm-center text-center">
        <span class="fw-bold mainFont">Email:</span><br>
        <span class="secondFont">{{this.otherService.detailsForFooter?.getEmail}}</span>
      </p>

      <p class="text-lg-start text-md-center text-sm-center text-center">
        <span class="fw-bold mainFont">Tűz esetén értesitendő:</span><br>
        <span class="secondFont">{{this.otherService.detailsForFooter?.getFirePhone}}</span>
      </p>

      <div>
        <p class="text-lg-start text-center fw-bold mainFont my-lg-0 my-3">Nyitvatartás:</p>
        <ul>
          @for (openingDetail of otherService.openingDetails; track $index) {
            <li class="d-flex justify-content-between my-2"><span class="mainFont">{{openingDetail.getDayName}}:</span> <span class="secondFont"> {{openingDetail.getStartTime.toString().substring(0, 5)}} - {{openingDetail.getEndTime.toString().substring(0, 5)}}</span></li>
          }
        </ul>
      </div>
    </div>

    <!-- Google Map & Linkek: -->
    <div class="col-lg-6 p-0 d-flex flex-lg-row flex-column justify-content-lg-end justify-content-center align-items-lg-end align-items-center">
      <!-- Linkek: -->
      <div class="h-100 d-flex flex-lg-column flex-row justify-content-lg-end justify-content-center mx-3 order-lg-0 order-1">
        <a class="mb-lg-1 mx-lg-0 mx-1" href="https://css-tricks.com/css-grid-layout-guide/" target="_blank">
          <button class="d-flex justify-content-center align-items-center strongShadow">
            <img class="img-fluid" src="assets/images/email.png" alt="email_logo">
          </button>
        </a>
        <a class="my-lg-2 mx-lg-0 mx-1" href="https://css-tricks.com/css-grid-layout-guide/" target="_blank">
          <button class="d-flex justify-content-center align-items-center strongShadow">
            <img class="img-fluid" src="assets/images/facebook.png" alt="facebook_logo">
          </button>
        </a>
        <a class="mt-lg-1 mx-lg-0 mx-1" href="https://css-tricks.com/css-grid-layout-guide/" target="_blank">
          <button class="d-flex justify-content-center align-items-center strongShadow">
            <img class="img-fluid" src="assets/images/instagram.png" alt="insta_logo">
          </button>
        </a>
      </div>
      <!-- Google Maps -->
      <google-map [center]="center" [zoom]="zoom" class="order-lg-1 order-0 mb-lg-0 mt-lg-0 mt-5 mb-3"/>
    </div>
  </div>

  <div class="row px-3 mt-1 mb-2">
    <div class="col-lg-12 px-4 d-lg-flex justify-content-lg-between align-items-lg-center">
      <p class="secondFont text-lg-start text-md-center text-sm-center text-center">© 2025 — Copyright</p>
      <p class="secondFont text-lg-start text-md-center text-sm-center text-center">Privacy</p>
    </div>
  </div>
</div>
