.mainFont{
  font-weight: 800;
  font-size: 18px;
}

.secondFont{
  font-weight: 400;
  font-size: 18px;
}

@media screen and (min-width: 992px) {
  #bioContainer{
    border-left: 3px solid #004D40 !important;
  }
}
