<div class="container-fluid" id="mainContainer">
  <div class="row">
    <div class="col-lg-12">

      <div class="container-fluid" id="secondContainer">
        <div class="row">
          <div class="col-lg-12">
            <div></div>
            <h1>Útban lévő foglalások</h1>
            <button (click)="close()" class="d-flex justify-content-center align-items-center navigationButton">
              <span class="material-symbols-outlined">close</span>
            </button>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12">
            @for (reservation of reservationList(); track $index) {
              <app-reservation-card [reservationDetails]="reservation" [parentComponent]="'profilePage'" />
            }
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12">
            <button mat-flat-button (click)="confirmEvent()">{{eventType() == 'close' ? 'Zárás' : 'Foglalás'}} megerősítése</button>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>
