<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <p class="d-flex justify-content-between">
        <span class="fw-bold mainFont">Foglaló neve:</span>
        <span class="secondFont">{{
          reservation().getFirstName + " " + reservation().getLastName
        }}</span>
      </p>
      <p class="d-flex justify-content-between">
        <span class="fw-bold mainFont">Telefon:</span>
        <span class="secondFont">{{ formattedPhoneNumber }}</span>
      </p>
      <p class="d-flex justify-content-between">
        <span class="fw-bold mainFont">Foglalás dátuma:</span>
        <span class="secondFont">{{
          reservation().getReservedHours.getDate.getDate
        }}</span>
      </p>
      <p class="d-flex justify-content-between">
        <span class="fw-bold mainFont">Foglalás időtartalma:</span>
        <span class="secondFont"
          >{{ reservation().getReservedHours.getStart }}:00 -
          {{ reservation().getReservedHours.getEnd }}:00</span
        >
      </p>
      <p class="d-flex justify-content-between">
        <span class="fw-bold mainFont">Foglalva ekkor:</span>
        <span class="secondFont">{{ reservation().getReservedAt | date }}</span>
      </p>
      <p class="d-flex justify-content-between">
        <span class="fw-bold mainFont">Foglalás tipúsa:</span>
        <span class="secondFont">{{
          reservation().getReservationTypeId.getName
        }}</span>
      </p>
      <p class="d-flex justify-content-between">
        <span class="fw-bold mainFont">Fizetési mód:</span>
        <span class="secondFont">{{
          reservation().getPaymentMethod.getName
        }}</span>
      </p>
      <p class="d-flex justify-content-between">
        <span class="fw-bold mainFont">Státusz:</span>
        <span class="secondFont">{{ reservation().getStatus.getName }}</span>
      </p>

      @if(reservation().getIsCanceled){
      <p class="d-flex justify-content-between">
        <span class="fw-bold mainFont">Lemondva ekkor: </span>
        <span class="secondFont">{{ reservation().getCanceledAt }}</span>
      </p>
      }

      <p class="d-flex justify-content-between">
        <span class="fw-bold mainFont">Megjegyzés:</span>
        @if(reservation().getComment == null){
        <span class="secondFont">Nincs</span> }
      </p>
      @if(reservation().getComment != null){
      <p class="secondFont">{{ reservation().getComment }}</p>
      }
    </div>
  </div>
</div>
