@use '@angular/material' as mat;
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  color: #004D40;
}

.mainFont{
  font-family: "Oswald", sans-serif !important;
  font-optical-sizing: auto !important;
  font-weight: 800 !important;
  font-style: normal !important;
}

.secondFont{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

//
#reviewContainer {
  max-height: 640px;
  overflow-y: auto;
}

mat-form-field {
  width: 775px;
  height: 300px;
  @include mat.form-field-overrides((
    filled-input-text-color: #004D40,
    filled-caret-color: #004D40,
    filled-container-color: white,
    filled-active-indicator-color: #004D40
    ));
}

#senderButton{
  background-color: #004D40;
  border-radius: 10px;
  color: white;
}

#senderButton:disabled{
  opacity: 0.6;
}

mat-checkbox{
  @include mat.checkbox-overrides((
    label-text-color: #004D40,
    selected-checkmark-color: white,
    selected-pressed-state-layer-color: #004D40,
    selected-focus-state-layer-color: #004D40
  ));
}

//Csillagok:
.star-rating, .star-rating:hover {
  --size: 2rem;
  --mask: conic-gradient(from -18deg at 61% 34.5%, #0000 108deg, #000 0) 0 0 / var(--size) var(--size),
    conic-gradient(from 270deg at 39% 34.5%, #0000 108deg, #000 0) 0 0 / var(--size) var(--size),
    conic-gradient(from 54deg at 68% 56%, #0000 108deg, #000 0) 0 0 / var(--size) var(--size),
    conic-gradient(from 198deg at 32% 56%, #0000 108deg, #000 0) 0 0 / var(--size) var(--size),
    conic-gradient(from 126deg at 50% 69%, #0000 108deg, #000 0) 0 0 / var(--size) var(--size);
  --background: linear-gradient(90deg,
      #000 calc(var(--size) * var(--val)),
      #ddd 0);
  height: var(--size);
  width: calc(5 * var(--size));
  appearance: none;
  border: 0;
}

/* Chrome and Safari */
.star-rating::-webkit-slider-runnable-track {
  height: 100%;
  mask: var(--mask);
  mask-composite: intersect;
  background: var(--background);
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact;
}

.star-rating::-webkit-slider-thumb {
  opacity: 0;
}
