.mainFont {
  font-weight: 800;
}

.secondFont {
  font-weight: 400;
}

#reviewContainer {
  max-height: 660px;
  overflow-y: auto;
}

mat-form-field {
  width: 775px;
  height: 300px;
}

#senderButton {
  background-color: #004D40;
  border-radius: 10px;
  color: white;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

#senderButton:disabled {
  opacity: 0.6;
}

//Csillagok:
.star-rating,
.star-rating:hover {
  --size: 2rem;
  --mask: conic-gradient(from -18deg at 61% 34.5%, #0000 108deg, #000 0) 0 0 / var(--size) var(--size),
    conic-gradient(from 270deg at 39% 34.5%, #0000 108deg, #000 0) 0 0 / var(--size) var(--size),
    conic-gradient(from 54deg at 68% 56%, #0000 108deg, #000 0) 0 0 / var(--size) var(--size),
    conic-gradient(from 198deg at 32% 56%, #0000 108deg, #000 0) 0 0 / var(--size) var(--size),
    conic-gradient(from 126deg at 50% 69%, #0000 108deg, #000 0) 0 0 / var(--size) var(--size);
  --background: linear-gradient(90deg,
      #000 calc(var(--size) * var(--val)),
      #ddd 0);
  height: var(--size);
  width: calc(5 * var(--size));
  appearance: none;
  border: 0;
}

/* Chrome and Safari */
.star-rating::-webkit-slider-runnable-track {
  height: 100%;
  mask: var(--mask);
  mask-composite: intersect;
  background: var(--background);
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact;
}

.star-rating::-webkit-slider-thumb {
  opacity: 0;
}

//
::-webkit-scrollbar {
  width: 5px !important;
}

::-webkit-scrollbar-track {
  border-radius: 10px !important;
  background-color: #004d404d;
}

::-webkit-scrollbar-thumb {
  background: #004D40 !important;
  border-radius: 10px !important;
}
