.cardDiv{
  background-color: #B2DFDB;
  width: 560px !important;
  height: 420px;
  border-radius: 16px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.bigCard{
  height: 100%;
}
