.mainFont{
  font-weight: 800;
}

.secondFont{
  font-weight: 400;
}

.cardDiv{
  width: 560px;
  height: 420px;
  border-radius: 16px;
}

.bigCard{
  height: 100%;
}

@media screen and (max-width: 600px) {
  .cardDiv {
    width: 100%;
    height: 420px;
  }

  p {
    line-height: 30px;
  }
}
