#mainContainer{
  width: 1500px;
  height: 700px;
  border-radius: 16px;
  background-color: #B2DFDB;
  padding: 50px;
}

img{
  width: 300px !important;
  height: 300px !important;
  border-radius: 28px;
}
