.mainFont {
  font-weight: 800;
}

.secondFont {
  font-weight: 500;
}

#mainContainer {
  width: 1500px;
  height: 700px;
  border-radius: 16px;
  background-color: #B2DFDB;
  padding: 50px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

img {
  width: 300px !important;
  height: 300px !important;
  border-radius: 28px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

app-pop-up {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 9999;
}

.deleteConfButton:hover {
  background-color: #004D40;
  color: white;
}

#deleteMainContainer {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 3;
}

#deleteContainer {
  background-color: #B2DFDB;
  height: 250px;
  width: 750px;
  border-radius: 15px;
}

.deleteConfButton {
  background-color: #B2DFDB;
  height: 40px;
  width: 125px;
  border: 1px solid #004D40;
  border-radius: 10px;
}
