@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  color: #004D40;
}

.mainFont {
  font-family: "Oswald", sans-serif !important;
  font-optical-sizing: auto !important;
  font-weight: 800 !important;
  font-style: normal !important;
}

.secondFont {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

//

#mainContainer {
  width: 1500px;
  height: 700px;
  border-radius: 16px;
  background-color: #B2DFDB;
  padding: 50px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

img {
  width: 300px !important;
  height: 300px !important;
  border-radius: 28px;
}

.materialButton {
  background-color: #004D40 !important;
  height: 54px;
  border-radius: 14px;
  width: 300px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

app-pop-up {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 9999;
}

#deleteButton {
  height: 40px;
  width: 40px;
  background-color: #B2DFDB;
  border: 1px solid #004D40;

  span {
    color: #004D40;
  }

  border-radius: 10px;
}

#deleteButton:hover,
.deleteConfButton:hover {
  background-color: #004D40;

  span {
    color: #B2DFDB;
  }

  color: #B2DFDB;
}

#deleteMainContainer {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 3;
}

#deleteContainer {
  background-color: #B2DFDB;
  height: 250px;
  width: 750px;
  border-radius: 15px;
}

.deleteConfButton {
  background-color: #B2DFDB;
  height: 40px;
  width: 125px;
  border: 1px solid #004D40;
  border-radius: 10px;
}
