<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12 d-flex justify-content-center align-items-center">
      <div id="mainContainer" class="container-fluid ">
        <div class="row" style="height: 100%;">
          <div class="col-lg-5 d-flex flex-column justify-content-center align-items-center">
            <img [src]="user.getPfpPath" alt="" class="img-fluid mb-3">

            <div class="my-2">
              <h6 class="text-center"><span class="fw-bold">Felhsználónév:</span>
                @if(!isEditUsername()){
                <span (dblclick)="isEditUsername.set(true)"> {{user.getUsername}}</span>
                } @else {
                  <input type="text" [value]="user.getUsername">
                }
              </h6>

              <h6 class="text-center"><span class="fw-bold">Email cím:</span>
                @if(!isEditEmail()){
                  <span (dblclick)="isEditEmail.set(true)"> {{user.getEmail}}</span>
                } @else {
                  <input type="text" [value]="user.getEmail">
                }
              </h6>
            </div>

            <button id="logoutButton" matButton="filled" (click)="logOut()" class="mt-2">Kijelentkezés</button>
          </div>
          <div class="col-lg-7 h-100">
            <div class="container-fluid h-100">
              <div class="row">
                <div class="col-lg-12 mb-3" style="border-bottom: 2px solid #004D40;">
                  <h1 class="mainFont">Foglalásaim:</h1>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  @for (reservation of reservations(); track $index) {
                    <app-reservation-card [reservationDetails]="reservation" [parentComponent]="'profilePage'" (showDetailsOutput)="showDetailsOfReservation($event)"/>
                  } @empty {
                    <div class="d-flex flex-column justify-content-center align-items-center">
                      <h2 class="text-center mainFont">Még nem foglaltál nálunk!</h2>
                      <button matButton="filled" id="reservationButton" routerLink="/makeReservation">Foglalás</button>
                    </div>
                  }
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12">
            <button><span class="material-symbols-outlined">delete</span></button>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

@if(showPopUp()){
  <app-pop-up (closePopUp)="showPopUp.set(false)" [baseDetails]="popUpDetails" [reservation]="selectedReservation()" />
}
