.mainFont {
  font-weight: 800;
}

.secondFont {
  font-weight: 400;
}

#mainContainer{
  background-color: rgba($color: black, $alpha: 0.6);
  height: 100vh;
  width: 100vw;
}

#popupContainer{
  width: 640px;
  height: 850px;
  background-color: #B2DFDB;
  border-radius: 16px;
}

.filledButton {
  height: 65px !important;
  font-weight: 500;
  font-size: 16px;
}

#popUpBody{
  max-height: 600px;
  overflow-y: auto !important;
}

