.mainFont {
  font-weight: 800;
}

.secondFont {
  font-weight: 400;
}

#mainContainer{
  background-color: rgba($color: black, $alpha: 0.6);
  height: 100vh;
  width: 100vw;
}

#popupContainer{
  width: 640px;
  height: 850px;
  background-color: #B2DFDB;
  border-radius: 16px;
}

#eventButton {
  width: 100%;
  height: 65px;
  border-radius: 10px;
  background-color: #004D40 !important;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

#eventButton:disabled{
  opacity: 0.6;
  color: white;
}

.navigationButton{
  width: 35px;
  height: 35px;
  border: 1px solid #004D40;
  background-color: transparent;
  border-radius: 7px;
}

.navigationButton:hover{
  background-color: #004D40;

  span{
    color: #B2DFDB !important;
  }
}

