.mainFont {
  font-weight: 800;
  font-size: 40px;
}

.secondFont {
  font-weight: 400;
  font-size: 20px;
}

.material-symbols-outlined {
  color: white !important;
}

#pfpImage {
  width: 45px;
  height: 45px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

#openedContainer {
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: #004D40;
  height: 100vh;
  width: 100vw;
  z-index: 9999;

  .material-symbols-outlined {
    color: #004D40 !important;
  }
}

#logoImg {
  width: 125px;
  height: 45px;
}

ul {
  padding: 0px;
}

ul li {
  font-family: "Oswald", sans-serif !important;
  font-optical-sizing: auto !important;
  font-weight: 800 !important;
  font-style: normal !important;
  font-size: 40px;
  list-style: none;
  text-align: center;
  color: #E0F2F1;
  line-height: 70px;
}

.active {
  background-color: #E0F2F1;
  color: #004D40 !important;
  border-radius: 50px;
}

#listRow {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100vw;
  z-index: -1;
}

button {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  border: none;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

  span {
    font-size: 30px;
  }
}

#closedCol button {
  background-color: #004D40;
  color: #E0F2F1;
}

#openedContainer button {
  background-color: #E0F2F1;
  color: #004D40;
}

#closedCol button:hover,
#closedCol button:focus {
  background-color: #E0F2F1;
  color: #004D40;
}
