@use '@angular/material' as mat;
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

.mainFont {
  font-family: "Oswald", sans-serif !important;
  font-optical-sizing: auto !important;
  font-weight: 800 !important;
  font-style: normal !important;
  font-size: 40px;
  color: #004D40;
}

.secondFont {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
}

#pfpImage {
  width: 45px;
  height: 45px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

#openedContainer {
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: #004D40;
  height: 100vh;
  width: 100vw;
  z-index: 9999;
}

#logoImg {
  width: 125px;
  height: 45px;
}
