.mainFont{
  font-weight: 800;
}

.secondFont{
  font-weight: 600;
}

#mainContainer {
  border-radius: 16px;
  background-color: #B2DFDB;
  height: 475px !important;
  width: 575px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  cursor: pointer;
  overflow-y: auto;
}

h2{
  font-weight: 500 !important;
}

.iconButton {
  width: 50px;
  height: 30px;
}

.filledButton{
  font-weight: 400;
}

app-reservation-pop-up{
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 3;
}

app-pop-up {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 2;
}
