<div class="container-fluid" id="mainContainer">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="text-center mainFont my-3">Terem kezelése</h1>
    </div>
  </div>

  <div class="row mb-4">
    <div class="col-lg-12">
      <h2>Terem bezárása</h2>
      <div class="container-fluid">
        <!-- 1. -->
        <div class="row my-2">
          <div class="col-lg-12 d-flex flex-column justify-content-between align-items-center">
            <div class="w-100 d-flex justify-content-between align-items-center">
              <h5>Egy napra</h5>
              <button class="arrowButton" (click)="manageExpansionPanel(0)">
                <span class="material-symbols-outlined">{{showList[0] ? 'arrow_drop_up' : 'arrow_drop_down'}}</span>
              </button>
            </div>

            @if(showList[0]){
              <div class="d-flex justify-content-center align-items-center">
                <div>
                  <form>
                    <mat-form-field style="width: 300px;">
                      <mat-label>Válaszd ki a dátumot</mat-label>
                      <input matInput [matDatepicker]="picker" [min]="startDate" [formControl]="selectedDate">
                      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field style="width: 300px;">
                      <input type="text" matInput style="display: none;">
                      <mat-select placeholder="Miért zárunk be?" [(value)]="selectedCloseType">
                        <mat-option value="holiday">Ünnep miatt</mat-option>
                        <mat-option value="full">Telt ház miatt</mat-option>
                        <mat-option value="other">Egyébb ok miatt</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </form>
                </div>
                <button [disabled]="selectedCloseType == null" class="saveButton" (click)="closeRoom('single')" mat-flat-button>Mentés</button>
              </div>
            }
          </div>
        </div>

        <!-- 2. -->
        <div class="row my-2">
          <div class="col-lg-12 d-flex flex-column justify-content-between align-items-center">
            <div class="w-100 d-flex justify-content-between align-items-center">
              <h5>Intervallum</h5>
              <button class="arrowButton" (click)="manageExpansionPanel(1)">
                <span class="material-symbols-outlined">{{showList[1] ? 'arrow_drop_up' : 'arrow_drop_down'}}</span>
              </button>
            </div>

            @if(showList[1]){
              <div class="d-flex justify-content-center align-items-center">
                <div>
                  <form>
                    <mat-form-field style="width: 300px;">
                      <input type="text" matInput style="display: none;">
                      <mat-date-range-input [formGroup]="range" [rangePicker]="picker" [min]="startDate">
                        <input matStartDate placeholder="Start date" formControlName="start">
                        <input matEndDate placeholder="End date" formControlName="end">
                      </mat-date-range-input>
                      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-date-range-picker #picker></mat-date-range-picker>
                    </mat-form-field>

                    <mat-form-field style="width: 300px;">
                      <input type="text" matInput style="display: none;">
                      <mat-select placeholder="Miért zárunk be?" [(value)]="selectedCloseType">
                        <mat-option value="holiday">Ünnep miatt</mat-option>
                        <mat-option value="full">Telt ház miatt</mat-option>
                        <mat-option value="other">Egyébb ok miatt</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </form>
                </div>
                <button [disabled]="range.controls['start'].value == null && range.controls['end'].value == null && selectedCloseType == null" class="saveButton" (click)="closeRoom('betweenTwoDate')" mat-flat-button>Mentés</button>
              </div>
            }
          </div>
        </div>

        <!-- 3. -->
        <div class="row my-2">
          <div class="col-lg-12 d-flex flex-column justify-content-between align-items-center">
            <div class="w-100 d-flex justify-content-between align-items-center">
              <h5>Ismétlődő dátumok</h5>
              <button class="arrowButton" (click)="manageExpansionPanel(2)">
                <span class="material-symbols-outlined">{{showList[2] ? 'arrow_drop_up' : 'arrow_drop_down'}}</span>
              </button>
            </div>

            @if(showList[2]){
              <div class="d-flex justify-content-center align-items-center">
                <div>
                  <form>
                    <mat-form-field style="width: 300px;">
                      <input type="text" matInput style="display: none;">
                      <mat-date-range-input [formGroup]="range" [rangePicker]="picker" [min]="startDate">
                        <input matStartDate placeholder="Start date" formControlName="start">
                        <input matEndDate placeholder="End date" formControlName="end">
                      </mat-date-range-input>
                      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-date-range-picker #picker></mat-date-range-picker>
                    </mat-form-field>

                    <mat-form-field style="width: 300px;">
                      <input type="text" matInput style="display: none;">
                      <mat-select placeholder="Miért zárunk be?" [(value)]="selectedCloseType">
                        <mat-option value="holiday">Ünnep miatt</mat-option>
                        <mat-option value="full">Telt ház miatt</mat-option>
                        <mat-option value="other">Egyébb ok miatt</mat-option>
                      </mat-select>
                    </mat-form-field>

                    <mat-form-field style="width: 300px;">
                      <input type="text" matInput style="display: none;">
                      <mat-select placeholder="Melyik napokon legyen?" [(value)]="selectedDay">
                        @for (day of hunDayNames; track $index) {
                          <mat-option [value]="dayNames[$index]">{{day}}</mat-option>
                        }
                      </mat-select>
                    </mat-form-field>
                  </form>
                </div>
                <button [disabled]="range.controls['start'].value == null && range.controls['end'].value == null && selectedCloseType == null && selectedDay == null" class="saveButton" (click)="closeRoom('betweenTwoDateRepetitive')" mat-flat-button>Mentés</button>
              </div>
            }
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <h2 class="mb-3">Terem foglalása saját célra</h2>
      <div class="container-fluid">
        <!-- 1. -->
        <div class="row my-2">
          <div class="col-lg-12 d-flex flex-column justify-content-between align-items-center">
            <div class="w-100 d-flex justify-content-between align-items-center">
              <h5 class="">Egyszeri foglalás</h5>
              <button class="arrowButton" (click)="manageExpansionPanel(3)">
                <span class="material-symbols-outlined">{{showList[3] ? 'arrow_drop_up' : 'arrow_drop_down'}}</span>
              </button>
            </div>

            @if(showList[3]){
              <div class="d-flex justify-content-center align-items-center">
                <div>
                  <form>
                    <mat-form-field style="width: 300px;">
                      <mat-label>Válaszd ki a dátumot</mat-label>
                       <input matInput [matDatepicker]="picker" [min]="startDate">
                      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>

                    <mat-form-field style="width: 300px;">
                      <input type="text" matInput style="display: none;">
                      <mat-select placeholder="Hánykor szeretnénk kezdeni?" [(value)]="selectedStartHour">
                        @for(hour of startHours; track $index){
                        <mat-option [value]="hour">{{hour}}:00</mat-option>
                        }
                      </mat-select>
                    </mat-form-field>

                    <mat-form-field style="width: 300px;">
                      <input type="text" matInput style="display: none;">
                      <mat-select placeholder="Hány órát szeretnénk próbálni?" [(value)]="selectedHourAmount">
                        <mat-option [value]="12">Egész napra</mat-option>
                        @for(hour of hours; track $index){
                        <mat-option [value]="hour">{{hour}}</mat-option>
                        }
                      </mat-select>
                    </mat-form-field>
                  </form>
                </div>
                <button class="saveButton" (click)="makeReservation('single')" mat-flat-button>Mentés</button>
              </div>
            }
          </div>
        </div>

        <!-- 2. -->
        <div class="row my-2">
          <div class="col-lg-12 d-flex flex-column justify-content-between align-items-center">
            <div class="w-100 d-flex justify-content-between align-items-center">
              <h5>Intervallum között folyamatosan</h5>
              <button class="arrowButton" (click)="manageExpansionPanel(4)">
                <span class="material-symbols-outlined">{{showList[4] ? 'arrow_drop_up' : 'arrow_drop_down'}}</span>
              </button>
            </div>

            @if(showList[4]){
              <div class="d-flex justify-content-center align-items-center">
                <div>
                  <form>
                    <mat-form-field style="width: 300px;">
                      <input type="text" matInput style="display: none;">
                      <mat-date-range-input [formGroup]="range" [rangePicker]="picker" [min]="startDate">
                        <input matStartDate placeholder="Start date" formControlName="start">
                        <input matEndDate placeholder="End date" formControlName="end">
                      </mat-date-range-input>
                      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-date-range-picker #picker></mat-date-range-picker>
                    </mat-form-field>

                    <mat-form-field style="width: 300px;">
                      <input type="text" matInput style="display: none;">
                      <mat-select placeholder="Hánykor szeretnénk kezdeni?" [(value)]="selectedStartHour">
                        @for(hour of startHours; track $index){
                        <mat-option [value]="hour">{{hour}}:00</mat-option>
                        }
                      </mat-select>
                    </mat-form-field>

                    <mat-form-field style="width: 300px;">
                      <input type="text" matInput style="display: none;">
                      <mat-select placeholder="Hány órát szeretnénk próbálni?" [(value)]="selectedHourAmount">
                        <mat-option [value]="12">Egész napra</mat-option>
                        @for(hour of hours; track $index){
                        <mat-option [value]="hour">{{hour}}</mat-option>
                        }
                      </mat-select>
                    </mat-form-field>
                  </form>
                </div>
                <button class="saveButton" (click)="makeReservation('betweenTwoDate')" mat-flat-button>Mentés</button>
              </div>
            }
          </div>
        </div>

        <!-- 3. -->
        <div class="row my-2">
          <div class="col-lg-12 d-flex flex-column justify-content-between align-items-center">
            <div class="w-100 d-flex justify-content-between align-items-center">
              <h5>Intervallum között ismétlődő dátumok</h5>
              <button class="arrowButton" (click)="manageExpansionPanel(5)">
                <span class="material-symbols-outlined">{{showList[5] ? 'arrow_drop_up' : 'arrow_drop_down'}}</span>
              </button>
            </div>

            @if(showList[5]){
              <div class="d-flex justify-content-center align-items-center">
                <div>
                  <form>
                    <mat-form-field style="width: 300px;">
                      <input type="text" matInput style="display: none;">
                      <mat-date-range-input [formGroup]="range" [rangePicker]="picker" [min]="startDate">
                        <input matStartDate placeholder="Start date" formControlName="start">
                        <input matEndDate placeholder="End date" formControlName="end">
                      </mat-date-range-input>
                      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-date-range-picker #picker></mat-date-range-picker>
                    </mat-form-field>

                    <mat-form-field style="width: 300px;">
                      <input type="text" matInput style="display: none;">
                      <mat-select placeholder="Hánykor szeretnénk kezdeni?" [(value)]="selectedStartHour">
                        @for(hour of startHours; track $index){
                        <mat-option [value]="hour">{{hour}}:00</mat-option>
                        }
                      </mat-select>
                    </mat-form-field>

                    <mat-form-field style="width: 300px;">
                      <input type="text" matInput style="display: none;">
                      <mat-select placeholder="Hány órát szeretnénk próbálni?" [value]="selectedHourAmount">
                        <mat-option [value]="12">Egész napra</mat-option>
                        @for(hour of hours; track $index){
                        <mat-option [value]="hour">{{hour}}</mat-option>
                        }
                      </mat-select>
                    </mat-form-field>

                    <mat-form-field style="width: 300px;">
                      <input type="text" matInput style="display: none;">
                      <mat-select placeholder="Melyik napokon legyen?" multiple="" [value]="selectedDay">
                        @for (day of hunDayNames; track $index) {
                          <mat-option [value]="dayNames[$index]">{{day}}</mat-option>
                        }
                      </mat-select>
                    </mat-form-field>
                  </form>
                </div>
                <button class="saveButton" (click)="makeReservation('betweenTwoDateRepetitive')" mat-flat-button>Mentés</button>
              </div>
            }
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
