#mainContainer {
  border-radius: 16px;
  background-color: #B2DFDB;
  height: 475px !important;
  width: 575px;
  color: #004D40;
  font-size: 28px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  cursor: pointer;
  font-weight: 600 !important;
}
