#mainContainer {
  border-radius: 16px;
  background-color: #B2DFDB;
  height: 475px !important;
  width: 575px;
  color: #004D40;
  font-size: 28px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  cursor: pointer;
  font-weight: 600 !important;
  overflow-y: auto;
}

.arrowButton {
  width: 50px;
  height: 30px;
  border: 1px solid #004D40;
  background-color: transparent;
  border-radius: 7px;
}

.arrowButton:hover{
  background-color: #004D40;

  span{
    color: #B2DFDB !important;
  }
}

.saveButton{
  border-radius: 10px;
  background-color: #004D40 !important;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.saveButton:disabled{
  opacity: 60%;
  color: white;
}
