.mainFont{
  font-weight: 800;
}

.secondFont{
  font-weight: 600;
}

#mainContainer {
  border-radius: 16px;
  height: 475px !important;
  cursor: pointer;
  overflow-y: auto;
}

h2{
  font-weight: 500 !important;
}

.iconButton {
  width: 50px;
  height: 30px;
}

.filledButton{
  font-weight: 400;
}

app-reservation-pop-up{
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 3;
}

app-pop-up {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 2;
}

#closeReasonCreatorContainer{
  background-color: rgba(0, 0, 0, 0.6);
  height: 100vh;
  z-index: 5;
  position: fixed;
  top: 0px;
  left: 0px;
}

#creatorContainer{
  height: 350px;
  width: 550px;
  border-radius: 16px;
}

mat-form-field {
  width: 300px !important;
}

.selectInput {
  display: none;
}

//Reszponzivitas
@media screen and (max-width: 992px) {
  .inputDiv, mat-form-field, input, .filledButton{
    width: 100% !important;
  }
}
