<div class="container-fluid my-5" id="mainContainer">
  <div class="row">
    <div class="col-lg-12 p-0">
      <div class="container-fluid" id="secondContainer">
        <div class="row">
          <div class="col-lg-12">
            <h5 class="m-0 mainFont">{{reviewDetail().author.username}}</h5>
            <hr class="my-1" style="border: px solid #004D40 !important; border-radius: 25px; background-color: #004D40;">
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12 reviewTextContainer">
            <p>{{reviewDetail().reviewText}}</p>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12 d-flex justify-content-between align-items-center">

            <div id="starts">
              @for (starAmount of startList(); track $index) {
                <span class="material-symbols-outlined">
                  @if (starAmount == 1) {
                    star_rate
                  } @else if (starAmount == 0.5){
                    star_rate_half
                  } @else {
                    star_rate
                  }
                </span>
              }
            </div>

            <div id="likeButtons" class="d-flex justify-content-center align-items-center">

              <div class="d-flex justify-content-center align-items-center mx-2">
                <button [class.selected]="selectedLikeType == 'like'" [disabled]="selectedLikeType == 'like'" class="iconButton d-flex justify-content-center align-items-center" (click)="addLike('like')">
                  <span class="material-symbols-outlined">thumb_up</span>
                </button>
                <span class="mx-1">{{reviewDetail().likeCount}}</span>
              </div>

              <div class="d-flex justify-content-center align-items-center mx-2">
                <button class="iconButton d-flex justify-content-center align-items-center" (click)="addLike('dislike')">
                  <span class="material-symbols-outlined">thumb_down</span>
                </button>
                <span class="mx-1">{{reviewDetail().dislikeCount}}</span>
              </div>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
