<div class="container-fluid my-5 secondBg strongShadow" id="mainContainer">
  <div class="row">
    <div class="col-lg-12 p-0">
      <div class="container-fluid d-flex flex-column justify-content-between thirdBg weakShadow" id="secondContainer">

        <!-- Szoveg: -->
        <div class="row">
          <div class="col-lg-12">
            <h5 class="m-0 mainFont text-xl-start text-lg-start text-md-center text-center">{{reviewDetail().getIsAnonymus ? 'Névtelen' : reviewDetail().getAuthor.getName}}</h5>
            <hr class="my-1">
            <p class="secondFont text-xl-start text-lg-start text-md-center text-center">{{reviewDetail().getReviewText}}</p>
          </div>
        </div>

        <!-- Nem szoveg: -->
        <div class="row">
          <div class="col-lg-12 d-flex flex-xl-row flex-lg-row flex-md-column flex-sm-column flex-column justify-content-between align-items-center pb-2">

            <!-- csillagok -->
            <div class="d-flex">
              @for (starAmount of starList; track $index) {
                @if (starAmount == 0.5) {
                  <img src="assets/images/star_half.svg" alt="csillag_icon" class="img-fluid w-100">
                } @else if (starAmount == 0) {
                  <img src="assets/images/star_outline.svg" alt="csillag_icon" class="img-fluid w-100">
                } @else if (starAmount == 1) {
                  <img src="assets/images/star.svg" alt="csillag_icon" class="img-fluid w-100">
                }
              }
            </div>

            <!-- like gombok: -->
            <div id="likeButtons" class="d-flex justify-content-center align-items-center">

              <div class="d-flex justify-content-center align-items-center mx-2">
                <button [class.selected]="usersReviewLike()?.getLikeType == 'like'" class="iconButton d-flex justify-content-center align-items-center" (click)="setLike('like')">
                  <span class="material-symbols-outlined">thumb_up</span>
                </button>
                <span class="mx-1 numberFont">{{reviewDetail().getLikeCount}}</span>
              </div>

              <div class="d-flex justify-content-center align-items-center mx-2">
                <button [class.selected]="usersReviewLike()?.getLikeType  == 'dislike'" class="iconButton d-flex justify-content-center align-items-center" (click)="setLike('dislike')">
                  <span class="material-symbols-outlined">thumb_down</span>
                </button>
                <span class="mx-1 numberFont">{{reviewDetail().getDislikeCount}}</span>
              </div>

            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
</div>
