<div class="container-fluid my-5 secondBg" id="mainContainer">
  <div class="row">
    <div class="col-lg-12 p-0">
      <div class="container-fluid thirdBg" id="secondContainer">
        <div class="row">
          <div class="col-lg-12">
            <h5 class="m-0 mainFont text-xl-start text-lg-start text-md-center text-center">{{reviewDetail().getIsAnonymus ? 'Névtelen' : reviewDetail().getAuthor.getName}}</h5>
            <hr class="my-1">
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12 reviewTextContainer">
            <p class="secondFont text-xl-start text-lg-start text-md-center text-center">{{reviewDetail().getReviewText}}</p>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12 d-flex flex-xl-row flex-lg-row flex-md-column flex-sm-column flex-column justify-content-between align-items-center pb-2">

            <!-- csillagok -->
            <div>
              @for (starAmount of starList(); track $index) {
                <span class="material-symbols-outlined">star_rate</span>
              }
            </div>

            <!-- like gombok: -->
            <div id="likeButtons" class="d-flex justify-content-center align-items-center">

              <div class="d-flex justify-content-center align-items-center mx-2">
                <button [class.selected]="usersReviewLike()?.getLikeType == 'like'" class="iconButton d-flex justify-content-center align-items-center" (click)="setLike('like')">
                  <span class="material-symbols-outlined">thumb_up</span>
                </button>
                <span class="mx-1 numberFont">{{reviewDetail().getLikeCount}}</span>
              </div>

              <div class="d-flex justify-content-center align-items-center mx-2">
                <button [class.selected]="usersReviewLike()?.getLikeType  == 'dislike'" class="iconButton d-flex justify-content-center align-items-center" (click)="setLike('dislike')">
                  <span class="material-symbols-outlined">thumb_down</span>
                </button>
                <span class="mx-1 numberFont">{{reviewDetail().getDislikeCount}}</span>
              </div>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
