#mainContainer {
  background-color: #B2DFDB;
  height: 270px;
  width: 960px;
  border-radius: 16px;
  padding: 46px 60px !important;
}

#secondContainer{
  height: 180px;
  background-color: white;
  border-radius: 16px;
  padding: 20px;
}
