.mainFont {
  font-weight: 800;
}

.secondFont {
  font-weight: 500;
}

#mainContainer{
  width: 510px;
  height: 590px;
  background-color: #B2DFDB;
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.iconButton{
  border: none;
}
