<div
  class="container-fluid d-flex justify-content-center align-content-center"
  style="height: 83vh"
>
  <div class="row">
    <div class="col-lg-12 d-flex justify-content-center align-items-center">
      <div id="mainContainer" class="container-fluid px-4 pt-5">
        <form
          [formGroup]="form"
          class="container-flud d-flex flex-column justify-content-between align-content-center"
        >
          <!-- 1. -->
          <div class="row">
            <div class="col-lg-12">
             <div class="d-flex justify-content-between align-items-center">
                <div>
                  <h1 class="mainFont" style="font-size: 30px">Elfelejtette jelszavát?</h1>
                  <h5 class="secondFont" style="font-size: 20px">Jelszó emlékeztető</h5>
                </div>
                <div class="d-flex justify-content-start align-items-center">
                  <a routerLink="/login">
                    <button id="backButton" class="d-flex flex-fill justify-content-center align-items-center">
                      <span class="material-symbols-outlined">arrow_back</span>
                    </button>
                  </a>
                </div>
              </div>
              <hr />
            </div>
          </div>

          <!-- 2. -->
          <div style="height: 370px">
            <div class="row">
              <div class="col-lg-9">
                <mat-form-field class="w-100">
                  <mat-label>Email cím</mat-label>
                  <input
                    type="text"
                    matInput
                    placeholder="Adja meg a fiokjához tartozó email címet"
                    formControlName="email"
                  />
                </mat-form-field>
              </div>
              <div class="col-lg-3">
                <button
                  id="codeSenderButton"
                  (click)="sendCode()"
                  [disabled]="form.controls['email'].invalid"
                >
                  Kód küldése
                </button>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-12">
                <mat-form-field class="w-100">
                  <mat-label>Hitelesitő kód</mat-label>
                  <input
                    type="text"
                    matInput
                    placeholder="Hitelesitő kód"
                    formControlName="verificationCode"
                  />
                </mat-form-field>
              </div>
            </div>

            <!-- @if (form.controls["verificationCode"].value == vCode) { -->
            <div class="row">
              <div class="col-lg-12">
                <mat-form-field class="w-100">
                  <mat-label>Új jelszó</mat-label>
                  <input
                    matInput
                    [type]="isShowPassword() ? 'text' : 'password'"
                    formControlName="password"
                  />
                  <button
                    matIconButton
                    matSuffix
                    (click)="showPassword($event)"
                    [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="isShowPassword()"
                  >
                    <span class="material-symbols-outlined">{{
                      isShowPassword() ? "visibility" : "visibility_lock"
                    }}</span>
                  </button>
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-12">
                <mat-form-field class="w-100">
                  <mat-label>Jelszó újra</mat-label>
                  <input
                    matInput
                    [type]="isShowPasswordAgain() ? 'text' : 'password'"
                    formControlName="passwordAgain"
                  />
                  <button
                    matIconButton
                    matSuffix
                    (click)="showPasswordAgain($event)"
                    [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="isShowPassword()"
                  >
                    <span class="material-symbols-outlined">{{
                      isShowPasswordAgain() ? "visibility" : "visibility_lock"
                    }}</span>
                  </button>
                </mat-form-field>
              </div>
            </div>
            <!-- } -->
          </div>

          <!-- 3. -->
          <div class="row">
            <div class="col-lg-12">
              <button
                id="saveButton"
                class="w-100"
                matButton="filled"
                [disabled]="form.invalid"
                (click)="sendReset()"
              >
                Mentés
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
