#mainContainer{
  width: 510px;
  height: 590px;
  background-color: #B2DFDB;
  color: #004D40;
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

#saveButton {
  background-color: #004D40 !important;
  color: white;
  height: 50px;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  border: none;
}

#saveButton:disabled{
  opacity: 0.6;
}

#codeSenderButton{
  height: 56px;
  border: none;
  border-radius: 10px;

}

#backButton {
  height: 35px !important;
  width: 35px !important;
  border: none;
  background-color: transparent;
}
