<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div id="mainContainer" class="container-fluid">
        <div class="row h-100">
          <div class="col-lg-4 d-flex justify-content-center align-items-center">
            <mat-card class="demo-inline-calendar-card">
              <p>Válasszon dátumot</p>
              <h4>Csütörtük, Aug. 17</h4>
              <hr class="m-0">
              <mat-calendar [(selected)]="selected"></mat-calendar>
            </mat-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
