<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="mainFont text-center">Galléria</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div id="container">
        @for (image of otherService.galleryImages; track $index) {
          <img (click)="openCarousel(image)" [src]="image.getPhotoPath" [alt]="image.getPlacement + '._Kép'">
        }
      </div>
    </div>
  </div>
</div>

@if(showCarousel()){
  <app-carousel (closeCarousel)="closeCarousel()"/>
}
