<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12 my-3">
      <img [src]="galleryImages()[0].photoPath" alt="" class="img-fluid">
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4">
      <img [src]="galleryImages()[1].photoPath" alt="" class="img-fluid">
      <img [src]="galleryImages()[2].photoPath" alt="" class="img-fluid">
    <div class="col-lg-4">
      <img [src]="galleryImages()[3].photoPath" alt="" class="img-fluid">
    </div>
    <div class="col-lg-4">
      <img [src]="galleryImages()[4].photoPath" alt="" class="img-fluid">
      <img [src]="galleryImages()[5].photoPath" alt="" class="img-fluid">
    </div>

  </div>
  <div class="row">
    <div class="col-lg-8">
      <img [src]="galleryImages()[6].photoPath" alt="" class="img-fluid">
    </div>
    <div class="col-lg-4">
      <img [src]="galleryImages()[7].photoPath" alt="" class="img-fluid">
    </div>
  </div>

</div>
