.singleImg {
  width: 550px;
  height: 400px;
}

.rowImg {
  width: 1675px;
  height: 400px;
}

// .standImg {
//   width: 500px;
//   height: 840px;
// }

.doubleImg {
  width: 1090px;
  height: 400px;
}

// img{
//   border-radius: 16px;
//   box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
//   cursor: pointer;
// }

app-carousel{
  position: fixed;
  left: 0px;
  top: 0px;
}
