.singleImg{
  width: 550px;
  height: 400px;
}

.rowImg{
  width: 1675px;
  height: 400px;
}

.standImg{
  width: 500px;
  height: 840px;
}

.doubleImg{
  width: 1090px;
  height: 400px;
}

img{
  border-radius: 16px;

  // object-fit: cover;
  // height: 400px;
  width: 100%;
}
