.singleImg {
  width: 550px;
  height: 400px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.rowImg {
  width: 1675px;
  height: 400px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.standImg {
  width: 500px;
  height: 840px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.doubleImg {
  width: 1090px;
  height: 400px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#asd {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
