#mainContainer {
  height: 1270px;
  width: 640px;
  background-color: #B2DFDB;
  border-radius: 16px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.cardDiv {
  height: 75px;
  background-color: white;
  color: #004D40;

  span {
    font-size: 20px;
  }
}

.cardDiv:hover,
.selected,
.noneSelected:hover {
  background-color: #004D40;
  cursor: pointer;
  opacity: 1;

  span {
    color: white;
  }
}

button {
  height: 56px;
  width: 350px;
  border-radius: 16px;
  background-color: #004D40 !important;
  color: white;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

button:disabled {
  opacity: 60%;
  height: 56px;
  width: 350px;
  border-radius: 16px;
  background-color: #004D40;
  color: white;
}

.noneSelected {
  opacity: 0.6;
}

#reservationTypeContainer {
  max-height: 300px;
  overflow-y: auto;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
