@use '@angular/material' as mat;
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  color: #004D40;
}

.mainFont {
  font-family: "Oswald", sans-serif !important;
  font-optical-sizing: auto !important;
  font-weight: 800 !important;
  font-style: normal !important;
  font-size: 40px;
  color: #004D40;
}

.secondFont {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 25px;
}

//--

#mainContainer {
  height: 1270px;
  width: 640px;
  background-color: #B2DFDB;
  border-radius: 16px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.cardDiv {
  height: 75px;
  background-color: white;
  color: #004D40;

  span {
    font-size: 20px;
  }
}

.cardDiv:hover, .selected, .noneSelected:hover {
  background-color: #004D40;
  cursor: pointer;
  opacity: 1;

  span {
    color: white;
  }
}

mat-form-field {
  @include mat.form-field-overrides((filled-input-text-color: #004D40,
      filled-caret-color: #004D40,
      filled-container-color: white));
}

button {
  height: 56px;
  width: 350px;
  border-radius: 16px;
  background-color: #004D40;
  color: white;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

button:disabled {
  opacity: 60%;
  height: 56px;
  width: 350px;
  border-radius: 16px;
  background-color: #004D40;
  color: white;
  background-color: #004D40;
}

.noneSelected{
  opacity: 0.6;
}

#reservationTypeContainer{
  max-height: 300px;
  overflow-y: auto;
}
