.mainFont {
  font-weight: 800;
  font-size: 40px;
}

.secondFont {
  font-weight: 500;
  font-size: 25px;
}

#mainContainer {
  height: 1270px;
  width: 640px;
  background-color: #B2DFDB;
  border-radius: 16px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.cardDiv {
  height: 75px;
  background-color: white;

  span {
    font-size: 20px;
  }
}

.cardDiv:hover,
.selected,
.noneSelected:hover {
  background-color: #004D40;
  cursor: pointer;
  opacity: 1;

  span {
    color: white;
  }
}

.filledButton {
  height: 56px !important;
  width: 350px !important;
  font-size: 20px;
  font-weight: 500;
}

.noneSelected {
  opacity: 0.6;
}

#reservationTypeContainer {
  max-height: 300px;
  overflow-y: auto;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
