@use '@angular/material' as mat;

#loginContainer{
  width: 510px;
  height: 590px;
  background-color: #B2DFDB;
  color: #004D40;
  border-radius: 16px;
  padding: 20px;
}

h1{
  font-size: 28px;
}

h3{
  font-size: 16px;
}

mat-form-field{
  width: 100%;
}

// Customize the entire app. Change :root to your selector if you want to scope the styles.
mat-checkbox {
  @include mat.checkbox-overrides((
    label-text-weight: 700,
    selected-pressed-state-layer-color: #004D40
  ));
}

