<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12 d-flex justify-content-center align-items-center">
      <div id="loginContainer" class="container-fluid d-flex flex-column align-content-center justify-content-between">
        <div>
          <div class="row">
            <div class="col-lg-12">
              <h1>Üdvözöljük</h1>
              <h5>Bejelentkezés</h5>
              <hr />
            </div>
          </div>

          <div class="row">
            <div class="col-lg-12">
              @if(isError()){
                <p class="text-danger">Érvénytelen felhasználónevet vagy jelszót adtál meg. Próbáld újra!</p>
              }
              <form action="" [formGroup]="loginForm" [class.mt-4]="isError()">
                <mat-form-field>
                  <mat-label>Felhasználó név</mat-label>
                  <input type="text" matInput placeholder="Felhasználó név" formControlName="username" />
                </mat-form-field>

                <br />

                 <mat-form-field>
                  <mat-label>Jelszó</mat-label>
                  <input matInput [type]="isShowPassword() ? 'text' : 'password'" formControlName="password" />
                  <button matIconButton matSuffix (click)="showPassword($event)" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="isShowPassword()" >
                    <span class="material-symbols-outlined">{{isShowPassword() ? "visibility" : "visibility_lock"}}</span>
                  </button>
                </mat-form-field>
              </form>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-12 d-flex justify-content-between align-items-center" >
              <mat-checkbox>Emlékezz Rám</mat-checkbox>
              <a routerLink="/passwordReset" class="fw-bold">Elfelejtette jelszavát?</a>
            </div>
          </div>
        </div>

        <div>
          <div class="row">
            <div class="col-lg-12 d-flex justify-content-center align-items-center" >
              <button class="my-2" [disabled]="loginForm.invalid" button (click)="login()" matButton="filled">Bejelentkezés</button>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-12">
              <p class="text-center">
                Nincs fiókja?
                <a class="fw-bold" routerLink="/register">Regisztráljon</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
