#loginContainer {
  width: 510px;
  height: 590px;
  background-color: #B2DFDB;
  color: #004D40;
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

#loginButton {
  background-color: #004D40;
  color: white;
  height: 50px;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

#loginButton:disabled {
  opacity: 0.6;
}
