.mainFont {
  font-weight: 800;
  font-size: 45px;
}

.secondFont {
  font-weight: 500;
  font-size: 25px;
}

.numberFont {
  font-weight: 600;
  font-size: 25px;
}

//
tr {
  height: 75px;
}

.hourColumn {
  width: 125px;
  font-family: "Oswald", sans-serif !important;
  font-optical-sizing: auto !important;
  font-weight: 800 !important;
  font-style: normal !important;
  font-size: 25px;
  color: #004D40;
}

thead {
  --bs-table-bg: #F4FBFF;
}

.evenRow{
  --bs-table-bg: #00695C;
}

.oddRow{
  --bs-table-bg: #80CBC4;
}

table{
  color: white !important;
}

tbody{
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.testClass{
  border-left: 3px solid white;
  border-right: 3px solid white;
}
