.mainFont {
  font-weight: 800;
  font-size: 45px;
}

.secondFont {
  font-weight: 500;
  font-size: 25px;
}

.numberFont {
  font-weight: 600;
  font-size: 25px;
}

tr {
  height: 75px;
}

.hourColumn {
  width: 125px !important;
}

thead {
  --bs-table-bg: #F4FBFF;
}

.evenRow{
  --bs-table-bg: #00695C;
}

.oddRow{
  --bs-table-bg: #80CBC4;
}

tbody{
  color: white !important;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.whiteBorder{
  border-left: 3px solid white;
  border-right: 3px solid white;
}
