<div class="container-fluid">
  <div class="row mb-5">
    <div class="col-lg-12">
      <h1 class="mainFont text-center">Óradíjaink</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      @for (reservationTypeRow of splittedReservationTypes(); track $index) {
      <table class="table border-0">
        <thead>
          <tr>
            <th></th>
            @for (reservationType of reservationTypeRow; track $index) {
              <th scope="col" class="text-center align-content-end mainFont py-2" style="font-size: 25px;">{{reservationType.getName}}</th>
            }
          </tr>
        </thead>
        <tbody>
            @for (hourAmount of helperList; track $index; let isEvenRow = $even;) {
              <tr [class.evenRow]="isEvenRow" [class.oddRow]="!isEvenRow">
                <th scope="row" class="align-content-center hourColumn">
                  <span class="text-white">{{hourAmount}} óra</span>
                </th>
                @for (reservationType of reservationTypeRow; track $index;) {
                  <td class="text-center numberFont align-content-center testClass">
                    <span class="text-white">{{calculateHourPrice(reservationType.getPrice!, hourAmount)}} Ft</span>
                  </td>
                }
              </tr>
            }
        </tbody>
      </table>
      }
    </div>
  </div>
</div>
