
// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
  margin: 0;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


//SAJAT GLOBALIS MATERIAL STILUS:
mat-checkbox {
  @include mat.checkbox-overrides(( //
      label-text-weight: 500,
      label-text-color: #004D40,
      selected-checkmark-color: white, //A pipa ikonnak a szine

      //A selected checkbox hatterszine:
      selected-focus-icon-color: #004D40,
      selected-icon-color: #004D40,
      selected-pressed-icon-color: #004D40,
      selected-hover-icon-color: #004D40,
    ));
}

mat-form-field {
  @include mat.form-field-overrides((
      filled-container-color: white, //inputok hattere
      filled-focus-active-indicator-color: #004D40, //also vonal
      filled-active-indicator-color: #004D40,
      filled-focus-label-text-color: #004D40,
      filled-hover-active-indicator-color: #004D40,
      filled-hover-label-text-color: #004D40,
      filled-input-text-color: #004D40,
      filled-input-text-placeholder-color: #004D40,
      filled-label-text-color: #004D40,
    ));
}


//EGYEB SAJAT GLOBALIS STILUS:
