@use '@angular/material' as mat;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

//ALAP BEALLITASOK
html {
  @include mat.theme((color: (primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    ));
}

body {
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

//SAJAT GLOBALIS MATERIAL STILUS:

//FONTOK:
.mainFont {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.secondFont {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.numberFont {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

//GOMBOK:
.filledButton {
  border-radius: 10px !important;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23) !important;
  height: 50px !important;
}

.filledButton:disabled {
  opacity: 0.6 !important;
  pointer-events: none;
}

.iconButton {
  width: 35px;
  height: 35px;
  background-color: transparent;
  border-radius: 7px;
}

//ARNYEKOK:
.strongShadow {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.weakShadow {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23) !important;
}

//SCROLL BAR  (https://scrollbar.app)
* {
  --sb-track-color: #F4FBFF !important;
  --sb-thumb-color: #004d40 !important;
  --sb-size: 10px !important;
}

*::-webkit-scrollbar {
  width: var(--sb-size) !important
}

*::-webkit-scrollbar-track {
  background: var(--sb-track-color) !important;
  border-radius: 1px !important;
}

*::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color) !important;
  border-radius: 1px !important;
  border: 10px solid #004d40 !important;
}

@supports not selector(::-webkit-scrollbar) {
  * {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color) !important;
  }
}
