@use '@angular/material' as mat;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

//ALAP BEALLITASOK
html {
  @include mat.theme((color: (primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    ));
}

body {
  color-scheme: light;
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

//SAJAT GLOBALIS MATERIAL STILUS:
mat-checkbox {
  @include mat.checkbox-overrides(( //
      label-text-weight: 500,
      label-text-color: #004D40,
      selected-checkmark-color: white, //A pipa ikonnak a szine

      //A selected checkbox hatterszine:
      selected-focus-icon-color: #004D40,
      selected-icon-color: #004D40,
      selected-pressed-icon-color: #004D40,
      selected-hover-icon-color: #004D40,
    ));
}

mat-form-field {
  @include mat.form-field-overrides(( //
      filled-container-color: white, //inputok hattere
      filled-focus-active-indicator-color: #004D40, //also vonal
      filled-active-indicator-color: #004D40,
      filled-focus-label-text-color: #004D40,
      filled-hover-active-indicator-color: #004D40,
      filled-hover-label-text-color: #004D40,
      filled-input-text-color: #004D40,
      filled-input-text-placeholder-color: #004D40,
      filled-label-text-color: #004D40,
    ));
}

//FONTOK:
.mainFont {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: #004D40;
}

.secondFont {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: #004D40;
}

.numberFont {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: #004D40;
}

.material-symbols-outlined {
  color: #004D40;
}

//GOMBOK:
.filledButton {}

.iconButton {}

//ARNYEKOK:
.strongShadow {}

.weakShadow {}
