@use '@angular/material' as mat;
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
  color: #004D40;
}

.mainFont {
  font-family: "Oswald", sans-serif !important;
  font-optical-sizing: auto !important;
  font-weight: 800 !important;
  font-style: normal !important;
  font-size: 18px;
  color: #004D40;
}

.secondFont {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 25px;
}

.numberFont {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 25px;
}

//-----
#mainContainer {
  background-color: #B2DFDB;
  border-radius: 16px;
  width: 1400px;
  height: 650px;
  padding: 60px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

#hourContainer {
  background-color: #26A69A;
  height: 530px;
  width: 100%;
  border-radius: 16px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

mat-card {
  background-color: #26A69A;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

mat-calendar {
  @include mat.datepicker-overrides((calendar-body-label-text-color: white,
      calendar-container-text-color: white,
      calendar-date-text-color: white,
      calendar-header-text-color: white,
      calendar-date-focus-state-background-color: #004D40,
      calendar-date-hover-state-background-color: #004D40,
      calendar-date-selected-state-background-color: #004D40,
      calendar-date-today-selected-state-outline-color: #004D40,
      calendar-container-touch-elevation-shadow: #004D40,
      calendar-date-today-outline-color: #004D40,
      calendar-text-font: "Rubik",
      calendar-date-disabled-state-text-color: #004D40,
      calendar-body-label-text-weight: 600,
      calendar-header-text-weight: 600,
      calendar-period-button-text-weight: 600,
      calendar-text-size: 18px));
}

mat-calendar{
  // font-weight: 800;
}

.hour {
  line-height: 25px;
  font-size: 24px;
  color: white;
}

.hourDiv {
  width: 100px;
  cursor: pointer;
}

.reservedHour {
  pointer-events: none;

  p {
    color: #004D40;
  }
}

.selectedHourDiv,
.hourDiv:Hover {
  background-color: #004D40;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.amountCard {
  background-color: white;
  height: 65px;
  cursor: pointer;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.amountCard:hover,
.selected {
  background-color: #004D40;
  opacity: 1;

  p,
  mat-icon {
    color: white !important;
  }
}

.amountCard p {
  font-size: 15px !important;
}

#amountCardContainer {
  max-height: 430px;
  overflow-y: auto;
}

.mat-calendar-header {
  height: 25px !important;
}



.noneSelect {
  opacity: 0.6;
  pointer-events: none;
}
