<div class="container-fluid my-5">
  <div class="row">
    <div class="col-lg-12 d-flex justify-content-center align-items-center">
      <div id="mainContainer" class="container-fluid">
        <div class="row h-100">
          <!-- Naptar: -->
          <div class="col-lg-4">
            <mat-card class="demo-inline-calendar-card h-100">
              <mat-card-header>
                <mat-card-subtitle style="color: white;">Válasszon dátumot:</mat-card-subtitle>
                <mat-card-title style="color: white;">{{ selectedDateText() }}</mat-card-title>
              </mat-card-header>
              <mat-calendar [minDate]="currentDate" [maxDate]="maxDate" [(selected)]="selectedDate" (selectedChange)="resetReservedHour();showSelectedDatesOfHours()"></mat-calendar>
            </mat-card>
          </div>

          <!-- Ora adatok megadasa -->
          <div class="col-lg-8">
            <div id="hourContainer" class="container-fluid">
              <div class="row h-100">
                @if(!baseReservation().getReservedHours.getDate.getIsClosed && !baseReservation().getReservedHours.getDate.getIsHoliday && !baseReservation().getReservedHours.getDate.getIsFull){
                  <div class="col-lg-3 d-flex flex-column align-items-center" style="overflow-y: auto;max-height: 500px;padding: 30px 0px !important;">
                    @for (hour of availableHours; track $index) {
                      <div class="hourDiv my-1" (click)="baseReservation().getReservedHours.setStart = hour; selectedHourAmount.set(null);setCheckerList()" [class.selectedHourDiv]="hour == baseReservation().getReservedHours.getStart" [class.reservedHour]="baseReservation().getReservedHours.getDate.getUnavailableHours.includes(hour)">
                        <p class="hour my-3 text-center numberFont" >
                          {{ hour }}:00
                        </p>
                      </div>
                    }
                  </div>
                @if(baseReservation().getReservedHours.getStart){
                <div class="col-lg-9" style="padding: 30px !important">
                  <h3 class="text-white secondFont" style="font-weight: 600">Kezdés: {{ baseReservation().getReservedHours.getStart }}:00</h3>
                  <hr class="m-0 text-white" />
                  <div id="amountCardContainer">
                    @if((user()?.role?.getName == 'ROLE_superAdmin' || user()?.role?.getName == "ROLE_admin")){
                      <div class="amountCard my-3 d-flex justify-content-between align-items-center px-4 py-0" (click)="selectHoursAmountOfReservation('Egész napra')">
                        <p class="m-0 fw-bold secondFont">Egész napra</p>
                        <span class="material-symbols-outlined">arrow_right</span>
                      </div>
                    }
                    @for (reservableHour of reservableHourAmounts | slice:0:listCardAmount; track $index;) {
                      <div
                        (click)="selectHoursAmountOfReservation(reservableHour)"
                        [class.selected]="reservableHour == selectedHourAmount()"
                        class="amountCard my-3 d-flex justify-content-between align-items-center px-4 py-0"
                        [class.noneSelect]="checkerList[$index] || baseReservation().getReservedHours.getStart + reservableHour > 22">
                        <p class="m-0 fw-bold secondFont" style="color: #004D40;">{{ reservableHour }} óra</p>
                        <span class="material-symbols-outlined">arrow_right</span>
                      </div>
                    }
                  </div>
                </div>
                }
              }
              @else {
                <div class="col-lg-12 d-flex justify-content-center align-items-center">
                  <p class="mainFont text-center" style="font-size: 45px; line-height: 60px;">
                    @if(baseReservation().getReservedHours.getDate.getIsFull) {
                      Nincs szabad időpont ezen a napon.
                    } @else if(baseReservation().getReservedHours.getDate.getIsClosed) {
                      Ezen a napon zárva vagyunk.
                    } @else if(baseReservation().getReservedHours.getDate.getIsHoliday) {
                      Ünnep miatt zárva vagyunk.
                    }<br>
                    Kérlek próbáld meg másik nappal!
                  </p>
                </div>
                }
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
